[2017-04-19 22:57] viniciusam opened #1 "Initial utPLSQL client features"
The client will be developed along with the Java API, so we can identify features needed on the api. Initially the client will support same features as the ut_run.sql script:
- Run tests using the API.
- Show tests results and progress using reporters.
- Accept a path list of tests to be executed.
- Save results to file.

Commands syntax example:
utplsql run user/password@database [params]

[2017-04-19 23:00] viniciusam opened #2 "Test template generation"
Would be nice to have a command to create a test skeleton for the user, ex:

`utplsql gen -suite test_something`

And that would generate a package header and body with the name test_something.

[2017-05-26 10:29] viniciusam opened #4 "Preview Releases"
Create a release config for "preview" versions.

[2017-05-26 10:37] viniciusam opened #5 "Add Support for source_path and test_path Parameters"
Add Support for source_path and test_path parameters like in the sql-cli.

[2017-05-26 19:03] viniciusam opened #6 "Add support for include_objects and exclude_objects parameters"
It could be a comma separated list:
[code]
Ex:
`utplsql run ut3/ut3 -exclude=betwnstr,award_bonus`

[2017-05-26 19:06] viniciusam commented on #4
I am thinking of using [Bintray](https://bintray.com/). to create preview releases when a commit is made on develop branch.

[2017-05-26 19:34] jgebal commented on #6
Nice, just make sure it works with schema named objects too. Also, think If it would be better to push this down to the frameworks API, so that it makes the API even better.

[2017-06-02 17:14] #4 closed

[2017-06-09 01:41] viniciusam opened #8 "Add Support for Console Colors"
Add support to used colored console output.

[2017-06-10 21:12] #8 closed

[2017-06-12 16:14] jgebal opened #11 "Failing to execute"
Downloaded latest develop version.
Executed: `utplsql.bat run user/pass@db`
And got:
[code]
using Windows 7 and Java:
[code]

[2017-06-13 13:21] viniciusam commented on #11
Fixed the NullPointerException, but you will probably run on an Invalid connection string error. I need to work on a better support of different connection strings.

Please give it a try.

[2017-06-19 00:25] viniciusam opened #17 "HTML reporter not working"
The ut_coverage_html_reporter is not working, probably because the default constructor is not being called, so the assets path don't get the default value: `ut_coverage_report_html_helper.get_default_html_assets_path()`.

Need to find a way to work this ou or get the default constructors called on the database. This may affect other reporters.

[2017-06-19 06:38] jgebal commented on #17
Maybe asktom could help?

[2017-06-19 16:35] #11 closed

[2017-06-19 16:37] viniciusam opened #19 "Add support for SID on the connection string"
See #15

[2017-06-19 16:40] #1 closed

[2017-06-19 16:40] #5 closed

[2017-06-29 16:57] jgebal opened #20 "java.sql.SQLRecoverableException: No more data to read from socket"
I get the following error when running tests  using `utplsql-cli`:

[code]
The trouble is, the utplsql-cli does not stop/throw.
It seems to be stuck, doing nothing.

This leads to two potential problems:
1) Exceptions are not handled properly and the cli is doing nothing
2) timeout for getting data from output buffer is set to a low (too low) value.
Single test can run for quite some time.

[2017-07-11 22:54] jgebal commented on #17
@viniciusam, can you review open issues and see which can be closed already?

[2017-07-11 22:56] jgebal opened #21 "Prepare release process"
The release process should upload the binaries to github release.
You may see how we upload on release of utPLSQL project.

[2017-07-11 23:19] jgebal opened #22 "Add support for coverage file mapping options in a separate file"
To complete the mapping of utPLSQL API we need to provide ability to define file mapping options as described [in documentation](https://github.com/utPLSQL/utPLSQL/blob/develop/docs/userguide/coverage.md#working-with-projects-and-project-files)

The static file mapping should be optionally provided as a JSON file to the command line:

`utplsql run ... -file_mappins=mappings.json`

The JSON could b

[2017-07-11 23:19] jgebal commented on #22
I would consider this to be of a low priority for now

[2017-07-11 23:39] jgebal opened #23 "Add json config file for utplsql-cli"
Calling the command like `utplsql run ... -config=config.json` should work when we pass the configuration json file as below:
[code]

-"host" is optional - default: 127.0.0.1
-"port" is optional - default: 1521
-"service_name" or "sid" must be provided
-"suite_paths" - optional
-"color" - optional
-"reporters" - optional
-"reporter parameters" - optional
-"sources_path" - optional
-"tests_path" -

[2017-07-11 23:41] jgebal opened #24 "Update readme"
We need to have all the command line parameters documented. Currently we for sure miss the:
- sources
- tests

[2017-07-12 13:50] #17 closed

[2017-07-18 01:03] viniciusam opened #25 "Exit code is always 0, even on failure"
Ex:
https://travis-ci.org/utPLSQL/utPLSQL-demo-project/builds/254662242#L1696

[2017-07-24 23:18] jgebal commented on #25
I guess we can close this issue?

[2017-07-25 10:58] viniciusam commented on #25
pr #26

[2017-07-25 10:58] #25 closed

[2017-07-31 13:11] jgebal opened #28 "CLI freezes if an exception occurs"
Have a look at that build: https://travis-ci.org/utPLSQL/utPLSQL-v2-v3-migration

The cli got an exception from Oracle and was hanging until Travis killed the build.

[2017-08-03 00:41] jgebal opened #29 "command line options failing"
I would expect the below command to succeed:
[code]
It fails however reporting invalid parameter values:
https://travis-ci.org/utPLSQL/utPLSQL/jobs/260426161#L5844

The line that is causing the issues is:
`-f=ut_documentation_reporter  -c -o=test_results.log -s `
it was working fine when I used:
`-f=ut_documentation_reporter  -c `

[2017-08-03 06:58] jgebal opened #30 "Use TNS for connecting to the db"
https://stackoverflow.com/questions/19536162/how-to-connect-jdbc-to-tns-oracle

[2017-08-03 17:28] viniciusam commented on #29
I don't treat -c as a sub parameter of -f. I thought it was the default behaviour for the sql-cli too:
[code]

If you use:
[code]
it should work, because -c will be treated as a run parameter, not a -f sub parameter.

[2017-08-03 17:46] jgebal commented on #29
So what you are saying is that we cannot put the -c parameter anywhere we like.
That is nothing can go between -f -o -s sequence?
That is a bit restrictive. I'm not saying we must change this but this needs to be explicitly documented.
sql-cli just has a rule: associate the -s and -o to the preceding -f parameter. It does not care if there is some other parameter in between

[2017-08-03 18:22] viniciusam commented on #29
Yes, it's a bit restrictive but makes sense to have correlated parameters together. I would like to leave it as is and update the docs.

[2017-08-04 22:51] jgebal commented on #29
That solution will work just fine :)

[2017-08-05 20:11] #29 closed

[2017-08-05 20:14] viniciusam opened #31 "Improve parameters documentation"
Related to #29
Parameters with sub parameters, like -f, need to be more explicit about the parsing order. No main parameters are allowed between sub parameters.

[2017-08-05 20:37] #28 closed

[2017-08-06 11:56] jgebal opened #33 "Extensions of files are missing for test files"
Since introduction of additional parameters to the CLI, the extensions of files are missing.
Looks like we could use some unit test for this, to avoid regression in the future.

[2017-08-07 18:15] #33 closed

[2017-08-07 18:15] #24 closed

[2017-08-09 01:13] viniciusam opened #35 "Database sessions remaining open"
Check if Database sessions are correctly closed after an exception occurs.

[2017-08-31 05:53] jgebal commented on #30
We want to allow `utplsql-cli` to connect to DB using TNS names instaed of forcing them to provide full connect string

[2017-08-31 06:01] jgebal commented on #19
Also related to #30

[2017-09-02 11:44] jgebal opened #36 "Add build matrix on Travis with diffrent versions of utPLSQL"
Client needs to be validated and signed to work with particular versions of `utPLQL` core project.
It would be great to have a build matrix running client against utPLSQL 3.0.0 - 3.0.3 so we always know what version it is compatible with.

**Currently the builds do not give clear indication of version the client is compatible with.**

[2017-09-02 11:46] jgebal opened #37 "Add more real-life examples of usage into readme"

[2017-09-26 12:21] jgebal opened #38 "utPLSQL-cli disconnects while tests are still running"
If utPLSQL tests are running more than x minutes (20?), we get a timeout on utPLSQL-cli.

https://stackoverflow.com/questions/5913569/how-to-set-query-timeout-on-preparedstatement

I would like this timeout be be much much higher.

[2017-09-27 13:32] vasso123 opened #39 "ORA-20202: Invalid path format: NULL"
With a fresh utplsql install on a 11g database, when trying to run tests with utplsql-cli, I get this error:
[code]

I inspected the problem, and it seems that the a_paths array arrives empty in the ut_runner.run procedure, even though utplsql-cli sends 'scott' in it.

- tested on Ubuntu 16.04
- Oracle Java used:
[code]
- Oracle Database 11g Enterprise Edition Release 11.2.0.4.0 - 64bit Production

[2017-10-22 10:58] viniciusam commented on #38
I expect that to be solved on the branch:
https://github.com/utPLSQL/utPLSQL-cli/tree/feature/remove_connection_parser

I changed the client to use the PoolDataSource to get the connections, and it has no timeout.
I tested it with the utPLSQL-cli-test-20170927.zip version, which is built using this branch and it worked.
Would be great if you could test it too.

[2017-10-22 11:12] viniciusam commented on #35
I just invalidated the ut_runner package here to reproduce this error, and yes 1 connection remains alive after client exits.

This is because I'm forcing the threads to shutdown when an error occurs.

I create at least two threads on the client, 1 for the tests execution and 1 or more for gathering the reporters output.

RunCommand Line 138:
https://github.com/utPLSQL/utPLSQL-cli/blob/develop/src

[2017-10-22 11:14] viniciusam commented on #30
I expect that to be solved on the branch:
https://github.com/utPLSQL/utPLSQL-cli/tree/feature/remove_connection_parser

I changed the client to use the PoolDataSource to get the connections, and now I'm just passing the connection string without any parsing.

[2017-10-26 08:16] Prismapanda commented on #39
I had the same problem with an Oracle 11g database. With XE everthing worked fine.

The problem has been be solved by adding the orai18n.jar to the classpath (add it to /lib dir and in utplsql.bat). Maybe it should be added by default? This was really nasty to trace back.

[2017-10-26 19:46] vasso123 commented on #39
I'll try it tomorrow. How did you figured it out?

[2017-10-26 20:00] jgebal commented on #39
[The Oracle Doc - JDBC FAQ mentions](http://www.oracle.com/technetwork/articles/sql/jdbc-faq-090281.html)

utPLSQL-cli communicates wuth utPLSQL using API with ADT's.

To support different character sets, we would need to include the file in our client bundle.
Expecting users to download it themselves and put it on `classpath` might lead to issues and dissatisfaction.

@viniciusam - any thoughts?

[2017-10-26 20:41] viniciusam commented on #39
Yes, we should bundle the library with the client and I'm already working on a PR for that.

[2017-10-27 13:57] vasso123 commented on #39
Now it works for me also, thanks!

[2017-11-09 14:41] pesse commented on #35
Closed via https://github.com/utPLSQL/utPLSQL-java-api/pull/25

[2017-11-09 14:41] #35 closed

[2017-11-10 09:12] pesse opened #41 "Remove ojdbc drivers from download package and update documentation"
Due to Oracle license restrictions we can't provide jdbc drivers and other Oracle-libs (e.g orai18n.jar) with our installation package.
We have to remove them and update the documentation and/or readme to instruct the user to download them.

[2017-11-13 20:39] pesse opened #44 "exit cli gracefully on known/expected exceptions"
the client/API should exit gracefully with  informative message (not a stack trace) when:
- cannot connect to DB
- connected but UTPLSQL not present / accessible
- incompatible version of utPLSQL is present

[2017-11-17 10:08] pesse commented on #30
Fixed via #42

[2017-11-17 10:08] #30 closed

[2017-11-17 10:09] pesse commented on #19
Fixes via #42

[2017-11-17 10:09] #19 closed

[2017-11-17 11:44] tkleiber opened #48 "Code coverage report creation fails for big schema"
We have here an enterprise application with more than 1000 packages, functions and procedures with over 1 million LoC in one of the schemas.

We have created one fresh test now, and have to convert our v2 tests later.

Actually we start with utPLSQL v3 and want measure code coverage too.
I have tried this CLI in Jenkins, but after 10 minutes the build is broken. I have seen that 180 MB of html fil

[2017-11-17 11:48] pesse commented on #48
Can you share error message with which the build is broken? And which version of cli you are using?
We are currently working on a first stable release of utPLSQL-cli
What you are describing might be an issue with connection timeout (#38), which should be solved in current Pull Request.

[2017-11-17 12:00] tkleiber commented on #48
I try latest development version utPLSQL-cli-develop-201711161046.zip.
There is no error shown in the output or log.
But I get an exit code 1 from the call.

[2017-11-17 12:02] jgebal commented on #48
There are tow things here:
- scope of coverage
- size of project

Does your project files = whole DB schema?

If project < schema.

Do you want to report coverage on whole DB schema or want to limit the coverage to your project files?

HTML reporter in general is good for small projects. If it's a big project - the file will become really big.

If you're running against a large project, integratio

[2017-11-17 12:11] tkleiber commented on #48
Our project files = this and another smaller whole DB schema!
BTW I found no call to map these both together.
We don't have sonar or coveralls at the moment here, I think this need some time.
But I will look into mapping after DOAG2017.

[2017-11-17 12:58] jgebal commented on #48
To map your project files to db objects use parameter `-source_path`
If your project files are distributed across multiple DB schemes we expect by default the naming convention of:
- owner.name.pkb- package body
- owner.name.tbp - type body
- owner.name.trg - trigger
- owner.name.fnc - function
- owner.name.prc - procedure
Default extension mapping is defined here: https://github.com/utPLSQL/utPLS

[2017-11-18 10:28] jgebal commented on #48
@tkleiber
If you want to give a try to coveralls or sonar coverage you can give an example project structure/file names and we can help you figure how to configure invocation

[2017-11-19 12:59] #38 closed

[2017-11-19 12:59] #39 closed

[2017-11-19 12:59] #41 closed

[2017-11-19 12:59] #44 closed

[2017-12-04 05:55] jgebal opened #56 "National/regional settings not set correctly"
@tkleiber reported to em that, when running client on machines using different language, date&number format, they run into issues. Client seems to ignore local machine settings and this leads to their code running into some issues.

I hope to get more details on the type of issues they face and reasons for that.
It would be good to investigate the effort needed for the client to use local-machine

[2017-12-04 05:59] jgebal commented on #56
Some googling on this:
https://stackoverflow.com/questions/1079985/nls-lang-setting-for-jdbc-thin-driver
https://stackoverflow.com/questions/7983532/oci-jdbc-driver-and-nls-settings

[2017-12-04 07:44] pesse commented on #56
NLS for country and language should be not too hard to get in - we'll have to adjust the bat/shell files though. Have to investigate if appassembler provides options for that kind of stuff.

Which other NLS env parameters would we want to use from environment?

[2017-12-04 08:09] jgebal commented on #56
Language and region should be enough. Rest of the settings should be derived from those two I think.

[2017-12-04 08:09] jgebal commented on #21
Done

[2017-12-04 08:09] #21 closed

[2017-12-04 08:45] tkleiber commented on #56
Yes I for the moment I thing that language and region should be mapped to NLS_LANG.

It seems that oracle has dropped the support for NLS variable with version 10 of the odbc drivers.

Before the jvm variable user.language (which derives from LANG or LC_ALL) would set NLS variables accordingly.

Further there was at least till 10g a  InitializationString parameter in the connect string, which allo

[2017-12-04 09:51] tkleiber commented on #56
Testcase, which fails on our (german) environment, as it does deliver a comma as instead a point as decimal character:
ut.expect(to_char(24566698.76)).to_equal('24566698.76');

Have tried following before calling cli without success:
export LANG=en_US.utf-8
export LC_ALL=en_US.utf-8
export _JAVA_OPTIONS=-Duser.language=en

[2017-12-04 09:56] pesse commented on #56
Thanks for the testcase, will investigate

[2017-12-04 14:14] jgebal commented on #56
Hmmm.
Just wondering. Do you use a lot of to_char / to_date with default NLS format in your code?
Is this test case presented just to ensure pose the issue or are you actually using to_char in ut.expect?

[2017-12-04 14:18] tkleiber commented on #56
just to ensure pose the issue. A real world example are eg. invoices to customers in it's user defined preferences, which are not the session parameters.

[2018-01-11 10:07] pesse commented on #6
Fixed by #58

[2018-01-11 10:07] #6 closed

[2018-01-11 10:10] pesse commented on #48
@tkleiber Is the issue still present with utplsql-cli 3.0.4?

[2018-01-14 13:36] pesse commented on #56
@tkleiber can you tell me if you experience that problem on windows or linux? I investigated it and could reproduce the situation on windows. The main problem is that jvm seems to get the wrong locale, no matter if you set LC_ALL as environment variable or not (always gets the system locale which in my case is de_DE, too).
I can (an maybe will) introduce command line parameters to just override Lo

[2018-01-14 16:41] tkleiber commented on #56
I have seen this on SLES 11, this is a 64bit linux.

[2018-01-14 21:59] pesse commented on #56
@tkleiber I have no clues why JVM doesn't react to LC_ALL setting in your (and my case), but I managed to change the locale and therefore the database NLS settings by adding the following to environment:

`export JAVA_TOOL_OPTIONS=-Duser.country=us -Duser.language=en`

Can you verify this is working in your environment?
I could add a new commandline parameter "-locale=en_US.utf-8" of course, but t

[2018-01-15 08:06] tkleiber commented on #48
The generation works now, it needs 12 minutes.
The resulting html file is round about 200 MB and kills IE 11 browser most of the time.
In Chrome it opens but needs again a lot of time.
Maybe it will be possible to modularize this into a main html and lot of small pieces for the code popup's?

[2018-01-15 08:26] pesse commented on #48
Hm, that would mean to outsource parts of the logic of report generation to cli I guess. You probably won't be able to create such a report from pl/sql only.
Any thoughts on this, @jgebal?

[2018-01-15 08:41] jgebal commented on #48
Yes. One reporter=one output stream.
If we would go that way, we would make PLSQL call to html report useless.
For large codebase it is best to use sonar/coveralls reporting. They do not contain the source of covered code but only line numbers.

@tkleiber do you have sonar or any similar tools?
We could think of other common coverage formats to be supported. I didn't investigate any other option f

[2018-01-15 08:46] jgebal commented on #56
I would askTom. They definitely have it solved in SQLCL and SQLDeveloper.

[2018-01-15 08:47] tkleiber commented on #48
At the moment we don't have sonar. This need some time to setup internal, as bank we can not use a cloud environment here.

[2018-01-15 08:49] jgebal commented on #48
What CI are you using? How do you report coverage on other code that PLSQL?
Answers to those questions can give some options.

[2018-01-15 08:54] tkleiber commented on #48
Jenkins and it's plugins.

[2018-01-15 08:56] tkleiber commented on #48
jacoco plugin

[2018-01-15 09:22] jgebal commented on #48
OK.
I've heard about jacoco a bit here and there. Seems quite common format.

[2018-01-15 09:24] jgebal commented on #48
utPLSQL/utPLSQL#557 created for this

[2018-01-16 14:57] pesse opened #60 "Investigate failsafe-plugin for maven and create integration-tests"
Should have them for e.g. https://github.com/utPLSQL/utPLSQL-cli/pull/59

https://stackoverflow.com/questions/1399240/how-do-i-get-my-maven-integration-tests-to-run#5090311

[2018-01-16 14:58] #56 closed

[2018-01-21 23:07] Shoelace commented on #48
it could be possible to reduce the generated size and support 'multiple files' if the coverage output was pushed into a zip file... using something like https://technology.amis.nl/2010/03/13/utl_compress-gzip-and-zlib/

that produces a BLOB, so it may only be useful for utl_file output of via the custom CLI

[2018-01-21 23:28] jgebal commented on #48
Interesting idea. Reporter could create multi-file zip as BLOB and we could then unzip it in utPLSQL-cli side.

That would require:
- new (binary) output buffer
- rebuild of the reporter
- rebuild of CSS/HTML template
- some very specific code on the client-side to react to the specific reporter format.

Quite a bit of work to be done (sounds like an Epic). It would be an interesting challenge.

I

[2018-02-02 08:11] tkleiber opened #61 "Wrong times in jenkins test result view for run time of tests"
Don't know it this issue fit's here or should be in the utplsql project direct.

See first the console output:

![console](https://user-images.githubusercontent.com/2185441/35722974-6dc8d74c-07f0-11e8-8b6a-9c682444d836.png)

There you see, that the test running 142 seconds.

But the test results view show 4 year and 6 month running, all the other durations are wrong too:

![test_result](https://us

[2018-02-02 08:14] pesse commented on #61
Can you share the command you're running and its parameters?

[2018-02-02 08:24] tkleiber commented on #61
I think the problem is that ut_xunit_reporter creates it's output with the date format of the database, which is our case german, and therefore with commas instead of points:

<testsuites tests="532" skipped="6" error="0" failure="1" name="" time="142,204166" >

[2018-02-02 08:30] pesse commented on #61
I see. If I remember correctly you need to have the database in German for some of your tests are dependent on that. Otherwise the latest cli (development branch) now reacts to NLS_LANG-environment variable so you could set that to en_US.

@jgebal should we force specific number-format on our reporters? Maybe at least xunit reporter?

[2018-02-02 09:54] tkleiber commented on #61
No - my database is by default in German. I have to switch to several other languages to ensure, that some outputs remains in a defined language and some have to change, for an example an English colleague calls a invoice for a Spanish customer. In this case the GUI has to be shown in English but the invoice report furthermore in Spanish.

I don't have Jenkins here in German, only the GUI is germa

[2018-02-02 10:22] pesse commented on #61
@tkleiber Not sure if I understand your usecase properly. You want

run CI database in German (NLS_SETTINGS-wise) but get en_US number-format for xunit-report?

or

run CI database in en_US (not possible with cli 3.0.4, but with the current development branch)?

[2018-02-02 10:34] tkleiber commented on #61
Test objects run in database, where following is set according to nls_database_parameters:
NLS_LANGUAGE 	GERMAN
NLS_TERRITORY	GERMANY

Test sessions has to be run in different nls_session_paramters as described above.

Jenkins run on Linux and seems to require English format in the xunit-reports.

[2018-02-02 13:54] jgebal commented on #61
I wonder.
Isn't XML enforcing a standard of "." as separator?
Maybe we should fix it in the reporter.

[2018-02-02 14:03] pesse commented on #61
You're right, it is according to w3c XML Schema:
https://www.w3.org/TR/xmlschema-2/#decimal

[2018-02-02 18:06] jgebal commented on #61
Submitted new issue to utPLSQL.

[2018-02-04 01:23] #61 closed

[2018-02-04 03:52] jgebal commented on #61
@tkleiber - this fix will be part of next release of utPLSQL

[2018-02-20 20:58] tschf opened #63 "Ommit <main class> it command line output with no arguments"
If I run the batch script with no arguments, I get:

[code]

I think the `<main class>` is not an actual part of required input, right?

[2018-02-20 21:06] pesse commented on #63
You should be able to call the CLI from a windows command prompt like follows:

`utplsql run yourUser/yourPassword@connectString`

No need to call utplsql.bat.

[2018-02-21 16:35] tschf commented on #63
Ah ok, good to know. Still it prints the same. Was just pointing out if the string `<main class>` should be included in the (help) output.

[2018-02-21 16:37] jgebal commented on #63
Should show: `utplsql`

[2018-03-11 13:26] #60 closed

[2018-03-12 14:38] pesse commented on #36
This is done in java-api. All compatibility should reside in java-api, therefore cli is only tested vs latest development branch of both, utPLSQL and java-api.

[2018-03-12 14:38] #36 closed

[2018-03-14 14:39] vder opened #66 "invalid time format in output results"
Hi, I've just added build step to my local jenkins configuration (execute windows batch command).Report generated fine and jenkins  consumed it,  but I've noticed that times in records are with ',' coma as decimal separator so in  jenkins I can see that my test took something over 2 years rather than something around 60 seconds. How can I change this decimal separator to '.' period?

[2018-03-14 14:41] jgebal commented on #66
The @vder
The issue is adressed already and fix is coming in next release of utPLSQL framework

[2018-03-14 14:47] vder commented on #66
Thanks for quick reply, but in that case when can we expect new release? :)

[2018-03-15 13:48] vder commented on #66
I prepared some walkaround  if someone has a need for one. In post build step I run batch script  with sed:
sed -e 's/\(time=\"[0-9]*\),\([0-9]*\"\)/\1\.\2/'

[2018-03-15 21:26] jgebal commented on #66
This is a duplicate of issue:
https://github.com/utPLSQL/utPLSQL/issues/572

[2018-03-19 17:43] jgebal opened #67 "develop version is not getting uploaded to bintray"
After build on Travis, the develop branch is not getting pushed to bintray.
Outputs in Travis show:
[code]

https://travis-ci.org/utPLSQL/utPLSQL-cli/jobs/353061401#L1697

We're still using bintray account of @viniciusam - maybe it's time to move to utplsql account?

[2018-03-19 17:43] jgebal commented on #67
Also, the readme.md in project still points to builds in:
https://bintray.com/viniciusam/utPLSQL-cli/utPLSQL-cli-develop#files

[2018-03-20 09:24] pesse opened #68 "Output-Feedback is not "immediate" anymore"
Seems like cli is getting 50/100 rows at a time instead of immediately outputting row by row.

Might be a PrefetchSize-Problem of JDBC

[2018-03-24 22:55] #68 closed

[2018-03-27 23:43] #63 closed

[2018-03-28 19:57] pesse commented on #67
Closed via #73

[2018-03-28 19:57] #67 closed

[2018-03-29 06:54] pesse opened #76 "Give status information during startup of TestRunner"
Currently the startup time of cli is quite long (several seconds), because there are many things done before the TestRunner is started.
We should give some status information about what's done.
We should also include a new command-line parameter to suppress these status information (--silent)

[2018-03-29 06:56] pesse opened #77 "Add Version / Version info to cli"
We should have the version of cli compiled into the program.
We should also have a command to return that version (and maybe also version of java-api used)

[2018-03-29 09:57] jgebal commented on #77
Agreed.

[2018-04-02 19:11] felipebz opened #78 "Encoding of the output file"
Hi!

We're starting to use utPLSQL-cli to export the test execution reports for SonarQube, but we've found a bug when the output is saved to file and the output contains "special" characters.

Since utPLSQL itself doesn't specify an XML declaration in the XML output, SonarQube expects a UTF-8 file but the file written by utPLSQL-cli is using the default encoding (from the environment).

A simple t

[2018-04-02 21:15] jgebal commented on #78
Thanks for reporting this issue.
Honestly I'm not sure if the encoding of content is defined at DB or client (session) level.
As you say this could be fixed at any of the two ends.
Just I'm not sure which one would be more valuable and accurate.

[2018-04-04 13:29] pesse commented on #78
Thanks for the PR.
I also think the change should be done in cli. I'm just not sure if we should just output to UTF-8 by default. Java will by default take the encoding "normal" to the environment, which will be some Western-ISO for a european windows version but something completely different for a chinese one.

I don't like including this as hard change because it might break someone else's curr

[2018-04-04 13:39] felipebz commented on #78
Yes, I understand. A reporter parameter would be better then. Something like `-f=ut_sonar_test_reporter -o=output.xml -e=utf-8`?

[2018-04-04 14:03] pesse commented on #78
Yes. Maybe also support the charset part of LC_ALL environment variable.

@jgebal what's your opinion on that?

[2018-04-04 16:45] jgebal commented on #78
It would be best if we can make it work for everyone without exposing additional complexity to the users.

Sonar expects utf-8 encoding if no encoding is specified in xml
I think we can try 2 things:
1. Fix XML reporters so that we put session charset into xlm header.
2. Convert everything to UTF-8 in cli
3. Give control to users

With option 3 I would still prefer it only to be needed in "specifi

[2018-04-04 18:49] pesse commented on #78
Yes, you are right. We should first of all write the used encoding to the output header.
I still think giving users control about the output encoding in CLI would be a benefit, not only for Sonar output.

[2018-04-16 12:30] pesse opened #80 "New release to include latest coverage html assets"
Assets of https://github.com/utPLSQL/utPLSQL-coverage-html got updated so we should create a new release of cli

[2018-04-25 07:05] pesse opened #81 "CLI behaves differently on linux and windows when passing quoted parameters"
A call with the following parameters
[code]

will result in different build_file_mappings on linux and windows.
Windows: `.*(\\|\/)(\w+)(\\|\/)(\w+)(\\|\/)R__[0-9.]+_(\w+).(\w{3})` (correct)
Linux: `".*(\\|\/)(\w+)(\\|\/)(\w+)(\\|\/)R__[0-9.]+_(\w+).(\w{3})"` (not correct)

[2018-04-25 09:39] jgarec commented on #81
Hi,

It's about protecting `\\` in windows and linux env from not being interpreted (maybe other special characters are concerned) :

For windows it should be double quotes :
`-regex_expression=".*(\\|\/)((\w+)\.)?(\w+)\.(\w{3})"`

For linux, it should be simple quote :
`-regex_expression='.*(\\|\/)((\w+)\.)?(\w+)\.(\w{3})'`

[2018-04-25 10:50] jgarec commented on #81
I'm running utplsql with maven-exec-plugin (as utplsql maven plugin is not working).
So the pluggin adds quotes to protect arguments from being interpreted.

The ony workaround i've found is to use a profile section in my pom.xml to set the right regex :

Use a property for the regexp
[code]

Set it with depending of the os :
[code]

which finally allows me to have the "same" command line.

[2018-04-25 19:41] pesse commented on #81
After thinking about it I would see that issue as problem of missing examples rather than as problem of the cli implementation. Because as you said, @jgarec, it has to do with protecting special chars with quotes - and that's something that just works differently on *nix/windows.

I think the underlying problem could also be solved by issue #23 (json config file) which is one of the next things I'

[2018-04-25 19:58] jgarec commented on #23
Interesting as it allows to reduce the number of arguments on the command line.

I think it should not be exclusive. Loading some parameters from the config file (reporters, paths, ...) and others from the command line (connection string for example).

Would be great if this config file could also be used with the utplsql maven plugin.

[2018-04-25 20:30] jgebal commented on #23
I think it would be good to allow for separation of credentials(connect string) from rest of the config.
This would allow the config to be project bound and connection to be more CI server driven.
Alternatively we could simply allow calling client with both config file and command line parameters.
In that cade, explicit params would take precedence and would override config file settings.
So proje

[2018-04-25 20:32] pesse commented on #23
Good input, thanks to both of you :)

[2018-04-27 09:51] pesse opened #82 "java.lang.NoClassDefFoundError: javax/xml/bind/DatatypeConverter when Java 10 is installed"
For cli is compiled to use Java 8 it will throw the following error when the default Java-version is 10 (or higher):

[code]

This can be avoided if we pack java 1.8 rt.jar into lib folder.

[2018-04-27 09:55] pesse opened #83 "Create Travis Build-Matrix against Oracle 11g, 12.1 and 12.2"
We should make sure cli works against all supported Oracle versions

[2018-05-10 01:17] itguyforautomation opened #84 "utPLSQL-cli fails with an error (ORA-01403, ORA-06512)"
We used to have Case#1 as part of our Jenkins pipeline. But currently, we are experiencing issues while running the same command. Can I know if there is anything wrong with the command from Case#1 to use in Jenkins job to run the unit test, and capture the test result in .html or .xml .

Can you help us with any suggestions to fix the issue;

Used the CLI package from here;
https://github.com/utPL

[2018-05-10 12:45] itguyforautomation commented on #84
I found the Solution.

[2018-05-17 19:34] pesse commented on #82
Actually it's not 1.8 rt.jar but the following maven dependency:
[code]

[2018-05-17 19:45] pesse opened #85 "CLI opens too many connections"
Since 3.1.0 cli opens way too many connections for the reporters. Seems like 10, no matter how many reporters are included.

[2018-05-17 19:45] pesse commented on #20
@jgebal experienced this issue at any time since 3.0.4 version?

[2018-05-17 20:33] #80 closed

[2018-06-04 23:40] jgebal commented on #78
@felipebz, @pesse
Have a look at the analysis I did in utPLSQL/utPLSQL#676

I think it would make sense to keep `cli` reporter-agnostic and keep the logic in one place.
Maybe we should add additional parameter `a_encoding` to `ut_runner.run` procedure?
That could be passed from `cli` and by default take value from client's `NLS_LANG`

[2018-06-06 10:35] pesse commented on #78
I tried a lot of things, but I guess I'll have to set up a database with this specific characterset configuration so I can get a feeling where in the chain the problem occurs.
The thing is: If the locales are set properly, JDBC will take care of the database -> Java (UTF-16) conversion.
It might even have more to do with the java Locale and we should use `Charset.defaultCharset()` to inject an enc

[2018-06-07 06:43] jgebal commented on #78
Oh, I keep forgetting that.
Adding new parameter is backward compatible from utPLSQL perspective but it makes it hard to keep java-api backward compatible.

If we go with cli/api-only change, how will you know which reporter's outputs need to be modified (without hardcoding it) ?

[2018-06-07 06:54] pesse commented on #78
One idea:

if output-file ends with *.xml output will start with the following line:

`<?xml version="1.0" encoding="Charset.defaultCharset()" ?>`

We can even go that far to check whether output already starts with an XML-Tag and only add it if necessary.
Would also have the benefit that we are producing "valid" XML files that way.
For normal text files we have no way to inform which encoding is

[2018-06-07 07:00] jgebal commented on #78
Nice.
Two notes:
- How about checking if content is actually an xml rather than relying on user provoding a valid extension? Would it be too heavy for large files (100MB and more)?
- Can we donthe same for HTML?

[2018-06-07 07:06] pesse commented on #78
How do you check content is xml? I wouldn't want to wait until thw whole file is created, that would be a possible memory-problem.
What we could check is, whether first line is one of those:

- \<?xml ...
- \<anything>

We might get a problem if content starts with a comment, though.

HTML is a bit more problematic because charset information is not in the first line as is with XML but in the `<me

[2018-06-07 07:08] jgebal commented on #78
And how much effort it is to add new parameter ro ur_runner.run while keeping api backward compatible?

[2018-06-07 07:12] pesse commented on #78
I already introduced Compatibility-Layers, so it should be not a big problem. You prefer doing the logic inside the reporters themselves? It would be much clearer, yes.

[2018-06-07 07:14] pesse commented on #78
Yes, after thinking about it we should work on the reporters to give valid output instead of injecting it in a post-processing step.
Creating a new compatiblity-API-layer is not a problem. What's great is that it won't even need change in API towards cli/maven-plugin, it could all be done in java-api. If utPLSQL Version is 3.1.2 or higher, just fill in new parameter to ut_runner.run with Charset.g

[2018-06-07 07:58] jgebal commented on #78
Lovely! So we have a plan :)

[2018-06-08 13:51] felipebz commented on #78
@jgebal @pesse  👍

I think https://github.com/utPLSQL/utPLSQL/issues/676#issuecomment-395337918 will solve this issue.

[2018-06-13 06:55] #78 closed

[2018-06-13 06:57] #31 closed

[2018-06-13 06:57] #77 closed

[2018-06-13 07:27] pesse commented on #78
@felipebz Can you verify it's working with develop-branch of utPLSQL framework and latest develop-binary of cli? (https://bintray.com/utplsql/utPLSQL-cli/download_file?file_path=utPLSQL-cli-develop-201806130715.zip)

[2018-06-21 12:57] felipebz commented on #78
Hi @pesse. It works. 👍

For the sake of completeness:

ut.version = v3.1.2.2016-develop
cli 3.1.1-SNAPSHOT.local
utPLSQL-java-api 3.1.1-SNAPSHOT.205

- The file was correctly generated with "<?xml version="1.0" encoding="WINDOWS-1252"?>"
- The SonarQube Scanner shows that the file was imported correctly:

[code]

- And I can see the test data in the SonarQube UI:

![image](https://user-images.gith

[2018-07-09 13:02] SebGt opened #88 "Trouble when connect user/pswd@TNSName"
Hi,

When I use utPLSQL-cli (for the first time, before I used utplsql-sql-cli)  I receive this error :
[code]

Command line is :
`V:\utPLSQL-cli\bin\utplsql run test_usr/test_pswd@db_test_dev -f=ut_xunit_reporter -o=tpkg_result.xml -p=test_usr.tpkg_one`

When I do the same with `test_usr/test_pswd@10.1.1.1:1550:db_t_dev` it is working fine.

ORACLE_HOME variable is set as suggested in the doc.
Di

[2018-07-09 13:09] pesse commented on #88
Hi @SebGt ,

can you try the following?

`V:\utPLSQL-cli\bin\utplsql run test_usr/test_pswd@10.1.1.1:1550/db_t_dev -f=ut_xunit_reporter ...`
(/ instead of : to address a service)
Any chance you are using SQLDeveloper? How's your connect-string there?
How do you connect via sqlplus/sqlcl?

Cheers,
Pesse

[2018-07-09 13:12] SebGt commented on #88
Hi thanks for reply.
The run with connect string using IP:PORT:SID is working fine. It is only the run with TNSName that is not working.

My objective here is to migrate from utPLSQL 3.0.3 to 3.1.1. So install is OK on DB but unfortunately sql client is not working anymore and I must move on java client.

Otherwise connect with sqlplus test_usr/test_pswd@db_test_dev is working fine.

Thanks

[2018-07-09 13:34] SebGt commented on #88
Sorry I did a wrong copy and past for the stack from another test I did with another DB.
Correct db is db_test_dev. (I changed my initial post)

From cmd window, I can connect `sqlplus test_usr/test_pswd@db_test_dev`.

I don't have SQLDeveloper. We are working with PL/SQL Developer.

Otherwise, my objective is to continue to run automatically my test using Jenkins.
Currently we are using utPLSQL 3

[2018-07-09 13:37] SebGt commented on #88
I have these both env variables set :
ORACLE_HOME=\\dev1\Programs\ORACLE
TNS_ADMIN=\\dev1\Programs\ORACLE\network\admin

[2018-07-09 13:42] pesse commented on #88
Yes, utplsql-cli (java) is the new command-line util and replaces the outdated utplsql-sql-cli completely.
I will look into this as soon as I have a time frame. Until then I suggest using the connectstring to run utplsql-cli.

[2018-07-09 13:44] SebGt commented on #88
Ok thanks for help.
I will wait and postpone my migration (I have around 30 jenkins jobs connected to almost 10 databases)

[2018-07-09 19:10] pesse commented on #88
Hey @SebGt, I tested it locally and have no issues to connect to my instance using TNSName:

[code]

Here is my tnsnames.ora:
[code]
and this is my ORACLE_HOME-env:
[code]
What concerns me a bit is how your environment-variables look.
From your utplsql-call I assume you are on windows, but for windows you should start an absolute path with a device-char instead of just backslash. Maybe that's lead

[2018-07-10 06:57] SebGt commented on #88
Hi @pesse,
Thanks for your time.
I changed my ORACLE_HOME :

[code]

here is my tnsnames.ora :

[code]

I still have the issue.

Do you think that the suffix ".WORLD" in tnsnames can cause the issue?

I tried to use DB_TEST_DEV.WORLD in connection string but I have this error:
[code]

Thanks again.

[2018-07-10 07:14] pesse commented on #88
The error message suggests that your tnsnames.ora is not taken into consideration.
I just did a test with the same TNSName you used (db_test_dev.world) and had no problems connecting.
Did you restart your console after setting %ORACLE_HOME%? (Windows is stupid in that case)
Also there's a discrepancy between your first reported path to Oracle Home and the second:

Looks like we need a new debug-pa

[2018-07-10 07:17] jgebal commented on #88
@sebgt what version of cli are you using?

[2018-07-10 07:28] SebGt commented on #88
Sorry wrong action  ...

[2018-07-10 07:34] pesse commented on #88
You should be using ojdbc8. That's the version suitable for Java 1.8 and Oracle 12.2
Though I don't think that's the problem. It looks like it can't find your tnsnames.ora

[2018-07-10 07:42] SebGt commented on #88
Even with Oracle 11g ?

[2018-07-10 07:52] pesse commented on #88
Yes, interoperability-matrix at least says so. Though ojdbc6 should work if you're on 11.2.0.3 or 11.2.0.4
http://www.oracle.com/technetwork/database/enterprise-edition/jdbc-faq-090281.html#01_02

[2018-07-10 10:05] SebGt commented on #88
I will try with a specific tnsnames.ora file to see if something change.

[2018-07-10 11:59] SebGt commented on #88
Same with ojdbc8, I will try to change tnsnames.ora location.

[2018-07-10 12:35] SebGt commented on #88
Same with a dedicated tnsnames.ora.

Just in case, this is my java version:
[code]

[2018-07-10 13:11] SebGt commented on #88
I found the issue in my config.
I fact, I have an Oracle client installed locally on my server in `C:\Oracle\product\11.2.0\client_64`
And our tnsnames.ora is centralized on a server (to ease the publishing of changes) and accessible using `Y:\dev\ORACLE\network\admin` (tns_admin variable is set).

If ORACLE_HOME is set to `Y:\dev\ORACLE` it is not working
If ORACLE_HOME is set to `C:\Oracle\produ

[2018-07-10 13:22] SebGt commented on #88
I forgot this last important point, in our tnsnames.ora we have 2 aliases defined for the same tns entry.

As per following Oracle doc, tns entry must be split in two entries to have 1 alias:
https://support.oracle.com/epmos/faces/DocumentDisplay?_afrLoop=289351873470294&parent=EXTERNAL_SEARCH&sourceId=PROBLEM&id=1253486.1&_afrWindowMode=0&_adf.ctrl-state=lzq8b0ri7_4

[2018-07-10 13:40] pesse opened #89 "Possibility to add debug-logging with several helpful information"
To make support/debugging easier (see https://github.com/utPLSQL/utPLSQL-cli/issues/88) we should have an option to enable debug-logging.
Information that should be included:
- Java-Version
- utPLSQL/cli/java-api version
- ORACLE_HOME value

[2018-07-10 13:44] SebGt commented on #89
For information, during my issue I tried `utplsql info` command but it doesn't work
Here the output (version 3.1.0):
[code]

[2018-07-10 13:51] pesse commented on #89
`info` command is part of the current develop-version and not yet released. We're working on making these things more clear :)

[2018-07-11 07:23] SebGt opened #90 "Connection with TNS name doesn't work when DEFAULT_DOMAIN is defined in sqlnet.ora"
Hi,
Following the investigation done for #88 , I still have an issue with connection using TNSNAME.

When TNS alias is defined without DEFAULT_DOMAIN it is working fine.
Command used is like : `utplsql run user/pswd@DB_TEST_DEV ...`
Config details:
[code]
[code]
But when DEFAULT_DOMAIN is defined, the alias is not found by java API used to connect:
Command used is like : `utplsql run user/pswd@DB_

[2018-07-11 08:44] pesse commented on #90
utPLSQL-cli uses `jdbc:oracle:thin`-driver. The thin driver does not use the `sqlnet.ora` file.

See https://stackoverflow.com/questions/20685192/names-default-domain-world-not-being-set-when-looking-up-tnsnames-ora

At the moment I'm not sure about whether we should add support for oci-driver. It looks like much added complexity to me.
Your opinion, @jgebal? Others?

[2018-07-11 08:53] jgebal commented on #90
Maybe we could check if sqlcl work with thus configuration. If it dies we can ask the sqlcl team how to do this.

[2018-07-11 11:51] jgebal commented on #90
@pesse, are you able to reproduce that error locally (TNS & jdbc with DEFAULT_DOMAIN)?
Is there validation on api that could cause problems or is api just wrapping exception from the driver?
This looks like api exception:
`IO Error: Invalid connection string format, a valid format is: "host:port:sid"
...`

[2018-07-11 12:33] pesse commented on #90
I'll try to reproduce it tomorrow evening.
The exception is from the driver, which is also connected to a known issue with 11.2.0.4
https://support.oracle.com/knowledge/Middleware/1915177_1.html

[2018-07-12 20:11] pesse commented on #90
I can reproduce it. SQLcl seems to overcome the issues, though.

[2018-07-12 20:22] pesse commented on #90
@SebGt you have a pretty old version of Java 8 installed:

Can you update it? I can reproduce DEFAULT_DOMAIN not getting populated, but I can't reproduce the `IO Error: Invalid connection string format, a valid format is: "host:port:sid" ...` error when calling
`utplsql run app/app@db_test_dev.world ...`

[2018-07-12 22:09] pesse commented on #90
Got some info from the phenomenal Jeff Smith: in SQLcl they actually try a THICK connection first and just fall back to thin afterwards.
There's still something strange going on because I shouldn't be able to connect through thick because of having 32bit client installed, but this approach should solve the problems I think.
Will open a new issue so we include a similar fallback-scenario in a futur

[2018-07-12 22:11] pesse opened #91 "Try thick connection first and use thin as fallback (similar approach as SQLcl)"
This relates to #90
We should try connecting through thick (`jdbc:oracle:oci8:`) first and use thin (`jdbc:oracle:thin:`) as fallback.

[2018-07-13 07:04] SebGt commented on #90
Thanks a lot for your investigations.
@pesse I will see if I can upgrade my java version (I have a doubt as it is packaged and automatically deployed).

[2018-07-19 08:46] SebGt commented on #91
Hello, Do you have an idea of when this will be tried ?

Thanks

[2018-07-19 08:50] pesse commented on #91
I can probably poke at it today evening. My concern is that it will introduce more complexity, it will also be hard to test via automated testing.

[2018-07-19 09:49] pesse opened #92 "JDK 8, 9 and 10 compatibility"
For we are using JAXB in cli, there might be some additional effort needed to ensure compatibility with JDK 8, 9 and 10

[2018-07-19 15:50] jgebal commented on #92
Should we add testing on all 3 jdk versions into Travis build matrix?

[2018-07-19 19:35] pesse commented on #92
I'm not sure yet. Have to read/experiment around the new things.

[2018-07-20 06:38] #91 closed

[2018-07-20 06:53] pesse commented on #90
Hey @SebGt
can you try if this latest development-version of utPLSQL-cli fixes your problem?
It first tries to connect via thick-driver, then fallback via thin.
https://bintray.com/utplsql/utPLSQL-cli/download_file?file_path=utPLSQL-cli-develop-201807200643.zip

[2018-07-20 06:56] tkleiber commented on #48
Have updated now to utPLSQL v3.1.1 and utPLSQL-cli v3.1.0. The file is furthermore successfully created, but cannot be opened neither in IE nor in Chrome now. Only the broken loading icon / text is shown in the page.

[2018-07-20 07:05] pesse commented on #48
Is the "<outputfile>_assets" folder being created?
That's one major change in cli 3.1.0.
How big is the resulting report-file?

[2018-07-20 07:38] SebGt commented on #90
Hi,
Thanks @pesse, I'm trying this morning and revert to you with result.

[2018-07-20 09:00] SebGt commented on #90
It is working with command line and I need to give the full name db_test_dev.world in command line.
Thanks a lot.
Now I have to make it working in Jenkins because the same command executed by Jenkins doesn't work.

[code]

[2018-07-20 09:14] jgebal commented on #90
Do we change requirements and now additional ocijdbc library is needed from Oracle

[2018-07-20 09:21] pesse commented on #90
No. We support thick driver, but we don't require it.
Seems like no oracle client is installed on your jenkins, @SebGt.
That case it falls back to thin-driver, which might not work properly if your java-version is outdated (as we discussed). Might also be ORACLE_HOME-setting sessions again.
Can you use full-qualified connect-string on jenkins?

[2018-07-20 09:26] SebGt commented on #90
I put ojdbc8.jar in lib folder of utPLSQL-CLI folder and in command line it is working fine.
It is only from Jenkins, so I'm checking the diff between the command line context and jenkins context.

Command line is executed from cmd window on server where jenkins is running.
ORACLE_HOME is the same for both (checked).

(sorry ;-) ) What means full-qualified connect-string ?

[2018-07-20 09:38] pesse commented on #90
something like localhost:1521/service

[2018-07-20 09:38] SebGt commented on #90
I found.
My ORACLE_HOME was defined in windows like this:
ORACLE_HOME=Y:\dev\ORACLE (with Y a share on =\\dev_server\Programs\apps)

For Jenkins, all network mapping are not available.
If I set ORACLE_HOME=\\dev_server\Programs\apps\ORACLE it is working fine.

Thanks again for your help and all the job you do to provide this test API and all related components .

[2018-07-20 09:40] #90 closed

[2018-07-20 09:59] pesse commented on #90
You're welcome - great it works now for you. And thanks for helping making the tooling even better ;)

[2018-07-20 11:30] pesse opened #94 "Coverage-Assets are not referenced correctly when writing to a sub-folder"
Finding by @tkleiber from #48

The new folder raises a problem in combination using directories in the -o switch eg.:
-o=results/ut_coverage_html_reporter.html

The resulting ut_coverage_html_reporter.html contains too the reference to this directory whis is wrong:
results/ut_coverage_html_reporter.html_assets/application.js

This should furthermore be:
ut_coverage_html_reporter.html_assets/applic

[2018-07-24 20:48] #94 closed

[2018-08-01 08:36] nrogachev opened #96 "Where is 3.1.1?"
Hi guys,

i remember seeing an email that utPLSQL-cli 3.1.1 is released but it seems to be gone already - by [this link](https://github.com/utPLSQL/utPLSQL-cli/releases/tag/v3.1.1) i get "Page not found".
Was it postponed or something went wrong with the release page?

[2018-08-01 10:58] jgebal commented on #96
The release was a bit premature so we held off with it as two minor issues were found.
Sorry for that.

[2018-08-01 12:16] nrogachev commented on #96
ah, ok, no problem!

[2018-08-01 12:16] #96 closed

[2018-09-05 05:41] shakye opened #98 "utPLSQL-cli having connection issues"
The tests takes a long time when the connection parameter is passed (username/pass@localhost:1521/sid) .This happens rarely but since I'm working with Jenkins the Testing build step takes about an hour and fails.

[2018-09-06 06:12] pesse commented on #98
Hm, never experienced such behaviour.
Can you give some more information? Cli-Version, utPLSQL version, Java-Version etc?

[2018-09-06 10:39] shakye commented on #98
I'm using
java - 8
utPLSQL - 3.1.2
Cli - 3.1.0

[2018-09-10 05:58] walter-weinmann opened #99 "Exception in thread "main" java.lang.NoClassDefFoundError: com/sun/nio/zipfs/ZipPath"
`CALL utPLSQL-cli_3.1.0\bin\utplsql.bat run %USERNAME_UT%/%PASSWORD_UT%@%NET_SERVICE_NAME% -c -f=ut_coverage_html_reporter -o=test\wwe.html -f=ut_documentation_reporter -p=%USERNAME_DBSS% -source_path=src/packages -test_path=test/packages`

gives me:

[code]

and an empty directory here:

![image](https://user-images.githubusercontent.com/1956149/45278862-38dc6d00-b4cf-11e8-96d9-8a0819769cce.png)

[2018-09-10 06:11] pesse commented on #99
Hi @walter-weinmann, I guess you use Java 9+
Please use Java 8 instead.
We will probably have a Java 9+ compatible version in future but from that time we'll have to maintain two separate branches.

[2018-09-10 06:13] pesse commented on #98
Would you be willing to help me debug that issue?
I think it has to do with the changes around reporters in 3.1.0. It would be great if you could check some things inside the database on such a failed build.

[2018-09-10 06:29] shakye commented on #98
Sure thing!

[2018-09-10 06:31] pesse commented on #98
Okay, thank you very much! I will come back to you this week with some instructions/questions.

[2018-09-10 14:06] walter-weinmann commented on #99
Thanks for the help - I've switched back - now it is ok.

[2018-09-10 14:06] #99 closed

[2018-09-10 17:17] walter-weinmann opened #100 "Coverage analysis only for packages"
I want coverage analysis (`UT_COVERAGE_HTML_REPORTER`) only for my packages. The packages are located in the source directories `src` and `src/generated`. How can I achieve this without enumerating all packages individually?

[2018-09-10 20:09] walter-weinmann commented on #100
Yes I'm getting now all functions and packages in the code coverage. But the functions are purely generated code - so it would be nice to be able to exclude them. But there are too many functions and packages to enumerate them.

[2018-09-10 20:26] jgebal commented on #100
ah, ok - got it.
You can use (exploit) custom type mapping to exclude functions.
https://github.com/utPLSQL/utPLSQL/blob/develop/docs/userguide/coverage.md#custom-mapping-of-object-types

Example:
[code]
Will cause only `pkb` files to be considered.

[2018-09-10 20:29] jgebal commented on #100
@pesse
 I believe it would be a nice feature to have `-include=file_mask,file,file` and `-exclude=file_mask,file,file`

[2018-09-11 05:42] pesse commented on #100
We already have `-include=[package_name] -exclude=[package_name]` but I guess it would be cool to have wildcard support (or even regex? Maybe too powerful) in it.
Don't think we should  provide a possibility to include/exclude *files*, it would be very confusing IMO

[2018-09-11 07:13] walter-weinmann commented on #100
Thanks for the support - the following solved my problem:

Directory structure:

[code]
Command line:

[code]

Result:

![image](https://user-images.githubusercontent.com/1956149/45344002-e3719000-b5a2-11e8-8433-4d423177eda0.png)

[2018-09-11 07:13] #100 closed

[2018-09-12 09:56] nikita-mospan opened #101 "utPLSQL-cli run causes java.sql.SQLException: Locale not recognized"
Good day!

I downloaded latest distribution of utPLSQL-cli and tried to execute it on my local environment. I copied ojdbc8.jar as was written in README and even orai18n.jar from Oracle website to utPLSQL-cli/bin folder. However I am receiving the following error:

`$ ./utplsql run tech_user/1@ora12c`
java.sql.SQLException: Locale not recognized
        at oracle.jdbc.driver.T4CTTIoauthenticate.se

[2018-09-12 10:52] nikita-mospan commented on #101
Hi @pesse ,
Thank you, when I unset NLS_LANG it works.
And I would agree with you that it is better not to use NLS_LANG in connecting to Oracle via JDBC. NLS_ settings are used for applications that connect to Oracle via OCI.

I am giving a try maven integration with utPLSQL using approach described here (maven-exec-plugin  + utPLSQL-cli) https://gist.github.com/nochmu/1f640b01a685f3f83a349de2db8a

[2018-09-12 10:56] pesse commented on #101
Yeah, it's not a good solution right now.
I'm in contact with the Oracle sqlcl guys and hope to get some input how they handle the topic.

I hope to be able to release cli 3.1.1 soon, though. It will definitely include ignoring of NLS_LANG

[2018-09-12 11:03] jgebal commented on #101
How about trying out our maven plugin

[2018-09-12 11:40] nikita-mospan commented on #101
Hi, @jgebal

Frankly speaking, that was my first choice, and I spent quite a while on it, but didn't manage to make it work, so I gave up. =)

If you have some time I would appreciate if you take a look at the project: https://github.com/nikita-mospan/liquibase-deploy-demo where I was playing around with liquibase and your plugin.

Liquibase is working fine, however when I run

`mvn test`

[INFO]

[2018-09-12 17:32] jgebal commented on #101
You're misssing maven config to get jdbc.
Here is an example of adding Oracle repo to get jdbc from them (needs authentication)
https://github.com/utPLSQL/utPLSQL-demo-project/blob/feature/utplsql-maven-plugin/.travis/settings.xml

[2018-09-12 20:42] nikita-mospan commented on #101
No, I have it. Below is extract from my $M2_HOME/conf/settings.xml
<server>
        <id>maven.oracle.com</id>
        <username>...</username>
        <password>...</password>
        <configuration>
            <basicAuthScope>
                <host>ANY</host>
                <port>ANY</port>
                <realm>OAM 11g</realm>
            </basicAuthScope>
            <httpConfiguration>

[2018-09-13 05:14] shakye commented on #98
Hi @pesse ,
I debugged the source code and came across the exact issue.
The await termination of the executor service takes 1 hour and doesn't return any output to the XML file.
Do you have any update on this?

[2018-09-14 12:02] pesse commented on #101
Okay, Jeff Smith answered me and they do it as follows in sqlcl:
- get env LC_ALL/LANG to set java Locale (notation: en_US.utf-8)
- get env NLS_LANG and if set, do an `ALTER SESSION ...` once connected

Sounds like a useful approach, altering of the session might be a bit of work though.

[2018-09-14 13:43] nikita-mospan commented on #101
Hi, @pesse

Thank you, but I didn't quite get that. Do they plan to implement this behavior? Because at the present moment it seems not to work.

`$ echo $LC_ALL`
en_US.utf-8

`$ echo $NLS_LANG`
AMERICAN_AMERICA.AL32UTF8

`$ ./utplsql run tech_user/1@ora12c`
java.sql.SQLException: Locale not recognized
        at oracle.jdbc.driver.T4CTTIoauthenticate.setSessionFields(T4CTTIoauthenticate.java:1493

[2018-09-14 13:50] pesse commented on #101
Hi @nikita-mospan ,
no, I just got feedback from Jeff Smith (product manager for SQL Developer at Oracle) how Oracle deals with java Locale and NLS_LANG-settings in sqlcl (that new replacement command-line tool for sqlplus).
At the moment utPLSQL-cli (maintained by me) works like this:

If NLS_LANG/LANG/LC_ALL (in that order) is set, try to set it as java Locale setting.

This is plain wrong, beca

[2018-09-14 14:01] nikita-mospan commented on #101
Got it, thank you!

[2018-09-27 20:20] teotiger opened #102 "NoClassDefFoundError: javax/xml/bind/DatatypeConverter"
Hey,
I downloaded latest distribution of utPLSQL-cli and tried to execute it on my local environment. I copied ojdbc8.jar as was written in README and even orai18n.jar from Oracle website to utPLSQL-cli/bin folder. However I am receiving the following error:

$ ./utplsql run devel/DEVEL@//localhost:9921/xe -p=devel -f=ut_coverage_html_reporter
Exception in thread "main" java.lang.NoClassDefFoundEr

[2018-09-27 20:48] jgebal commented on #102
What version of utPLSQL do you have in database?
Can you check
 select ut.version() from dual;

[2018-09-27 20:50] jgebal commented on #102
Aldo have a look at #99

[2018-09-27 21:06] teotiger commented on #102
Problem solved. Installed the official Oracle Java 8. openJDK seems not to work...

[2018-09-28 05:48] pesse commented on #102
I think we should get rid of some dependencies. Too annoying.

[2018-10-02 03:58] rafael-trevisan opened #103 "How to run "alter session set something" from the command line?"
Hi all,

Starting using utPLSLQ-cli here.

Is there a way to run a custom SQL command or script before running the tests from the command-line?

For i.e., I'd like to set a VPD calling some procedure in my db, but would be nice if the parameter for this procedure could be passed in the command-line somehow.

Thx

[2018-10-02 05:52] pesse commented on #103
Hi @rafael-trevisan ,
at the moment there is no possibility for "global" setup/teardown scripts. You can, however, use the `%beforeall`, `%afterall` annotations in every test suite to setup your specific test. That's what I do all the time, especially with data-heavy tests.
You can, of course, outsource setup-methods which you need over and over again into a help-package so you just have to call i

[2018-10-02 06:49] jgebal commented on #103
If your tests share the same suitepath, you can benefit from defining this just once for whole set of test packages (suite)

[2018-10-02 06:53] pesse commented on #103
Hm, does this work with hierarchical suite-paths, too?
e.g.
[code]

[2018-10-02 06:54] jgebal commented on #103
[code]

[2018-10-02 13:10] rafael-trevisan commented on #103
Thank you for such a quick reply.

What if I use Liquibase or Editions and I need to set the “version” I want to test.

Let’s say I am using *Editions* and I have “release_v1” and “release_v2”. What’d be the best approach to switch between two or more releases?

I mean, it’d be nice if I could test “release_v2” while other developers still work or even test “release_v1”.

Should  I have a suite-pa

[2018-10-02 13:19] jgebal commented on #103
Well, given this scenario, it would indeed be beneficial to have some basic support for executing some sort of `logon.sql` or `startup.sql`
That should be then a feature in api so it could be used on both cli and maven plugin.

I have no idea what we would be dealing with in terms of implementation cost.

Would you be editioning your unit tests too?
I'm nit sure though if Oracle allows / recommend

[2018-10-02 13:39] rafael-trevisan commented on #103
Yeah, I’ll try to make a `logon.sql` reading from some environment variable, I’ll see if it works.

Running tests through db is fine as I can put my `alter session edition` there in SQLPlus. The “issue” in my case comes with the `cli`. A solution could be `cli` accepting  an extra parameter with a SQL script path to run before starting the tests.

Oracle allows to have more than one edition active

[2018-10-02 13:46] pesse commented on #103
I can see the benefit in having `startup.sql` possibility.
Question is if we should put effort into preventing anything else in there than `alter session`-statements or if we leave that freedom to the user.
Main functionality (read file, run SQL in batch) would be located in java-api, parameter support has to be done in cli/maven plugIn respectively.

[2018-10-02 14:00] rafael-trevisan commented on #103
👍  for leaving that freedom to the user.

[2018-10-02 21:40] rafael-trevisan opened #104 "regex_expression for coverage report"
Hi guys,

I'm struggling to set regex_expression to run a coverage report in my folder structure.

What I have is:
[code]

And what I'm trying is:
[code]

I've read the https://github.com/utPLSQL/utPLSQL/blob/develop/docs/userguide/coverage.md#project-based-coverage but as I don't have the `owner` level in my structure I did some change to the regex. I've checked it here https://regex101.com/r/Vd9

[2018-10-02 21:43] rafael-trevisan commented on #104
It's worth to say: if I run the coverage report against my database it works nicely :) but I wanted to run it against the source/test folder.

[2018-10-02 23:53] rafael-trevisan commented on #104
Never mind guys... I was messing things up

[2018-10-02 23:53] #104 closed

[2018-10-03 00:12] jgebal commented on #104
@rafael-trevisan
Does it work for you now?

[2018-10-03 13:03] rafael-trevisan commented on #104
Yeah, I hadn’t got the right concept. Is all good 👍🏻

[2018-10-03 21:33] rafael-trevisan commented on #103
I tried to use a `--%beforeall` annotation to run `execute immediate 'alter session set edition = release_1';` but I get an: `ORA-38815: ALTER SESSION SET EDITION must be a top-level SQL statement` 🤔

[2018-10-03 21:50] rafael-trevisan commented on #103
Tried running with `pragma autonomous_transaction;` but no luck...

[2018-10-03 22:15] rafael-trevisan commented on #103
Got it working through a schema logon trigger. For now, I'm going to set the latest edition as the current one when the user creates a new session. That'll allow proceeding with my work model.

If we need to test some older version we can restore our database to that specific version.

However, a `startup.sql` option would be a very nice feature.

[2018-10-18 10:15] #101 closed

[2018-10-19 11:54] jgebal commented on #98
@shakye
- Do you always execute the same tests in Jenkins?
- Do you have any concurrency - many runs running at the same time? That should not be the issue but might give a clue.
- Do you always build from scratch?
- Are you able to make this problem reproducible, so that we can reproduce it locally?
- What DB version are you using?
- Can you reproduce this without CLI but from SQLPlus with comman

[2018-10-23 08:53] pesse opened #108 "Info-command shows wrong version information"
Info-command shows wrong version information for CLI in release-version (-SNAPSHOT.local)
We have to find a better way to have them.

Related: https://github.com/utPLSQL/utPLSQL-java-api/issues/58

[2018-10-24 14:08] nikita-mospan opened #109 "utPLSQL-cli run is not working when NLS_LANG is set"
Good day!

I downloaded utPLSQL-cli v3.1.2 , added ojdbc8.jar and orai18n.jar from Oracle website to utPLSQL-cli/bin folder. However I still didn't manage to make utplsql run work when NLS_LANG is set. Please consider output below:

`$ echo $NLS_LANG`
AMERICAN_AMERICA.AL32UTF8

`$ ./utplsql run tech_user/1@ora12c`
jdbc:oracle:oci8:****/****@ora12c: no ocijdbc12 in java.library.path
jdbc:oracle:thi

[2018-10-24 14:17] pesse commented on #109
Hi @nikita-mospan

the release provides the wrong download files. We are working on a fix.
The correct release-version can already be found here: https://bintray.com/utplsql/utPLSQL-cli/download_file?file_path=utPLSQL-cli-develop-201810230847.zip

Can you give it a try?

[2018-10-24 14:22] nikita-mospan commented on #109
Hi @pesse
Yes, zip from bintray works.

Thank you.

[2018-10-24 14:28] pesse commented on #109
And now the correct binaries are available on the release-page.

[2018-10-24 14:28] #109 closed

[2018-11-07 09:27] alesana-san opened #110 "Calling utplsql.bat without parameters"
Hi!

I guess it would be handy if CLI returned some help stuff instead of "Unknown command: 'null'".
Now I get that line when I call just "utplsql.bat" in a command prompt.

my utplsql-cli version: 3.1.2.271

[2018-11-07 11:41] jgebal commented on #110
Agree
Should provide a list of available commands like:
- run
- info
- reporters

[2018-11-07 11:43] pesse commented on #110
I think it's a bug. Thanks for the finding.

[2018-11-11 21:01] dev704 opened #111 "Connection fails with 'Invalid Oracle URL specified'"
Hi
When running below, the connection fails. Is there a way to get more detailed debug information?
Running sqlplus with the same parameters connects correctly

C:\utPLSQL-cli\bin\utplsql run test/test_pwd@//server1.com:1521/service1
jdbc:oracle:oci8:\*\*\*\*/\*\*\*\*@//test/test_pwd@//server1.com:1521/service1: Invalid Oracle URL specified
jdbc:oracle:thin:\*\*\*\*/\*\*\*\*@//test/test_pwd@//serv

[2018-11-12 09:38] dev704 commented on #111
Hi @pesse
I get the same error when removing the //
Thanks, Coenraad

[2018-11-14 10:01] alesana-san opened #112 "utPLSQL-cli fails with "no ocijdbc12 in java.library.path""
Hi!

tried to run a report via utplsql-cli like that:
`utplsql.bat run login/pass@tns -f=ut_coverage_html_reporter -o=report.html`
and get an error:
`jdbc:oracle:oci8:****/****@tns: no ocijdbc12 in java,library.path
jdbc:oracle:oci8:****/****@tns: Unknown host specified`

Running like that:
`utplsql.bat run login/pass@host:port/inst -f=ut_coverage_html_reporter -o=report.html`
works like magic!

[2018-11-14 10:17] pesse commented on #112
Hi @alesana-san
I assume the log is not complete, is it? There should be a line similar to `jdbc:oracle:thin:****/**** ....`
this would be the interesting part, though I guess it's the same: Unknown host specified.
It means that your TNS-name can't be resolved.
The two first errors just inform that you have no oracle thick-client installed. This is part of the new fallback mechanism introduced wit

[2018-11-15 13:08] alesana-san commented on #112
@pesse
other messages are:
jdbc:oracle:thin: ... Unknown Host Specified like you've said

I have Windows 7 machine and echo %ORACLE_HOME% doesn't return path. But tnsping <instance> works well.
Should I add ORACLE_HOME to my env parameters?

[2018-11-15 13:11] pesse commented on #112
Yes, you should definitely setup ORACLE_HOME if you want to use TNS.
I don't know how tnsping works exactly, maybe it looks up the registry or something, but with utPLSQL-cli we have not much chance than to rely on environment variables (like sqlplus or sqlcl do, too)
Out of curiosity: Does sqlcl work with the given connect-string and without a set ORACLE_HOME?

[2018-11-15 22:45] pesse commented on #111
Hi @dev704
I can't reproduce your problem. The log you provided suggests a problem with parsing of the connect-string, but I can't bring the current release of cli to behave the way you posted.
When I try with your command:

[code]

I always get the error message with properly split connect-string.
Is there any possibility that you share the real values which lead to that issue with me privately?

[2018-11-15 22:45] #110 closed

[2018-11-15 22:51] pesse commented on #111
Ah, btw, the regex we use to split the given connect-string is

`^([^/]+)/([^@]+)@(.*)$`

So as long as you don't use / and @ in user/password I can see no way how it should fail.

[2018-11-16 06:51] dev704 commented on #111
Hi Sam
I have retried using an incorrect password 'test123'
`utplsql run test/test123@//sub-a.server1.com:1521/service1`
and got:
`ORA-01017: invalid username/password; logon denied`
then tried again with the wrong password: 'test123!!'
`utplsql run test/test123!!@//sub-a.server1.com:1521/service1`
and got
`Invalid Oracle URL specified`

The real password has two exclamation marks as the last two

[2018-11-16 07:08] alesana-san commented on #112
I have TNS_ADMIN set to `\network\admin` but have no ORACLE_HOME set.
I guess my `sqlplus` looks into `TNS_ADMIN` to resolve TNS_STRING

[2018-11-16 07:42] alesana-san commented on #112
Now I'm kinda confused because I have ORACLE_HOME in registry in a `\HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\ORACLE\KEY_OraClient11g1`. So I'm not sure if `sqlplus` takes info from registry or env params.
Will try to corrupt them and find out what param affects on connection via `sqlplus` and let you know

[2018-11-16 07:53] alesana-san commented on #112
So changing `TNS_ADMIN` didn't have any effect. And changing a value in registry affected `sqlplus` so I'm guessing it should take tns data from it.

[2018-11-18 14:23] indrajitagasti opened #114 "utPLSQL CLI failing with Incompatible version of libocijdbc error"
I have downloaded the latest utplsql CLI and the related odbcjar8 from oracle and trying to execute a few commands. The sqlplus connection to the database is working fine.
Here is the sample code that I am executing. It appears to be a mis-match between jdbc and jdbc-OCI driver. How do i fix it?

C:\MySoftwares\UTPLSQL\utPLSQL\utPLSQL-cli\bin>utplsql info
cli 3.1.2-SNAPSHOT.local
utPLSQL-java-api

[2018-11-18 14:32] indrajitagasti commented on #114
Thanks Jacek.
How do I check my local OCI version and JDBC driver version? What command should I use?
My OS is Windows 10 and My local Oracle database is 12.1.0.2.0.

Regards
Inder
________________________________
From: Jacek Gębal <notifications@github.com>
Sent: 18 November 2018 14:28
To: utPLSQL/utPLSQL-cli
Cc: indrajitagasti; Author
Subject: Re: [utPLSQL/utPLSQL-cli] utPLSQL CLI failing with I

[2018-11-18 14:36] jgebal commented on #114
12.1.0.2.0 - is your OCI (same as your Database client software)
12.2.0.1.0 - is the version of JDBC driver (the error message contains version numbers without the `.` )

So you should probably put the jdbc driver version 12.1.0.2.0 into `utplsql-cli/lib` directory.

You will probably have 12.1.0.2.0 version of JDBC driver in your oracle home somewhere.

[2018-11-18 14:40] indrajitagasti commented on #114
Thanks Jacek.
I have put ojdbc7.jar and removed ojdbc8.jar from the C:\MySoftwares\UTPLSQL\utPLSQL\utPLSQL-cli\lib directory and now I am getting the below error, which seems to be a division by zero error.

C:\MySoftwares\UTPLSQL\utPLSQL\utPLSQL-cli\bin>utplsql reporters scott/tiger@pdborcl
java.lang.ArithmeticException: / by zero
        at oracle.jdbc.driver.OraclePreparedStatement.<init>(Oracl

[2018-11-18 14:44] jgebal commented on #114
I ran out of ideas for now, maybe @pesse will be able to give some better advice.

[2018-11-18 14:47] indrajitagasti commented on #114
No problem Jacek. Thanks a lot for your help.

[2018-11-18 17:08] indrajitagasti commented on #114
Hi,
I have managed to workaround the above division by zero  problem.
The password of SCOTT user was expiring. When I reset the password to a new password, the / by zero exception was not visible anymore.
The below thread discussed a similar problem.
https://stackoverflow.com/questions/10945359/java-lang-arithmeticexception-when-attempting-to-get-connection-in-oracle-11-2-0

However, now I am gett

[2018-11-19 08:10] pesse commented on #114
The Enum `OracleType` is not part of ojdbc7 (11.2 release) library. It's not possible to run the cli or java-api with ojdbc7, minimum version is ojdbc8 (12.2 release).
However, your main problem seems to be that you have a 11.2 instant-client (thick, oci) installed on your machine, so cli tries to use that instead of the provided thin-driver (ojdbc8).

One possibility you have is to upgrade your i

[2018-11-19 08:13] jgebal commented on #114
Could we ignore thick driver if it is incompatibe?

[2018-11-19 08:15] pesse commented on #114
Hm, good idea.
Will require lots of testing though I guess.

[2018-11-19 19:43] walter-weinmann opened #115 "as sysdba"
How can I connect to SYS ?

[2018-11-19 20:17] pesse commented on #115
You cannot at the moment. We'll need a new parameter for this.
Though I  wouldn't recommend it, it might be a valuable feature.

[2018-11-19 21:08] jgebal commented on #115
I think it is acutally a really bad idea to run tests from a SYSDBA account.
I would not add this functionality to cli.
If you need access to execute and procedure just use a user accout with proper role/privilege.

[2018-11-19 21:30] indrajitagasti commented on #114
Hi,
Managed to get it working now.
Below is what I did:
1. Upgraded my local 12CR1 instance to 18C
2. Copy the ojdbc8.jar file from <ORACLE_HOME>\jdbc\lib directory
3. Paste it to utPLSQL-cli\lib directory.
There is a small difference in size between the ojdbc8.jar file posted in https://www.oracle.com/technetwork/database/features/jdbc/jdbc-ucp-122-3110062.html
and
the one that is shipped with Or

[2018-11-19 21:30] #114 closed

[2018-11-20 02:01] walter-weinmann commented on #115
"Unfortunately, I'm working on software used by DBAs. For some code, access is restricted to the session user SYS. It is not my responsibility to handle this in any other way, but I don't want to exclude it from regression testing.

[2018-11-20 05:15] pesse commented on #115
What about adding a parameter but outputting a warning that it's not recommended to run tests as sysdba, @jgebal?
I agree with you but I can also see some edge cases in which it is hard to go a different route and I don't want to exclude these people (who might suffer already anyway :) )

[2018-11-20 08:11] jgebal commented on #115
I stand corrected @pesse
I've just realized that I gave exactly the same style of answer as Jeff Smith gave me, when I was asking for ability to drop multiple objects in SQLDeveloper navigator using `Delete` key. "We will not support that, as it's a bad idea (aka can be dangerous).

I do remember how disappointed I was though I find SQLDeveloper a great tool and Jeff is a great, very approachable

[2018-11-26 07:56] pesse commented on #111
After some excessive testing and investigation, I believe this is a JDBC bug.
You can reproduce the same issue with sqlcl or even a default JDBC connection in java.

I opened a issue at [sqlcl](https://github.com/oracle/oracle-db-tools/issues/24) in the hope to get some more people engaged.
As workaround I'd ask you, @dev704 to try if it words if you use TNS-name instead.

[2018-11-26 08:01] pesse commented on #112
@alesana-san So it did work when you set ORACLE_HOME, right?
Maybe we should improve documentation to make it crystal clear that you should provide ORACLE_HOME environment variable when you want to use TNS-Names.
TNS_ADMIN, as far as I read, is more about the sub-path (which is standardized) so I don't see a benefit from interpreting it in cli at the moment (I am open for correction on this, thoug

[2018-11-27 05:33] successshrestha opened #116 "Exclude or Include multiple packages"
I got multiple test packages in same schema(utplsql). Half of the packages test the individual tables and the rest compares the tables. I want to integrated it into bamboo and generate a report, How can i include or exclude multiple test packages. I tried using -p but it can only take upto 2 packages.

**test packages**
test_table1
test_table2
test_table3
test_table4
test_table5
test_table6

**tes

[2018-11-27 07:37] #116 closed

[2018-11-27 07:37] jgebal commented on #116
Is UTPLSQL the schema name that owns the `test_table1` suite?

[2018-11-27 08:52] successshrestha commented on #116
Yes. There was a silly mistake in the connection url. Its been solved.

[2018-11-28 11:50] alesana-san commented on #112
@pesse
So yeah, adding ORACLE_HOME to env variables helped and CLI worked.

IMHO, CLI should work like an Oracle Client and try to get ORACLE_HOME path from the registry like in my case sqlplus does (I don't have a preset variable ORACLE_HOME, just an ORACLE_HOME record in the registry with a correct path). I guess it could be an improvement for CLI.

[2018-12-07 15:21] pesse opened #117 "Show current progress of tests run"
If you run a larger set of tests it might be useful to indicate the current progress (n of m tests run) in the active console line (if Output is System.out),

This should not have any effect on the printed lines, though.

[2018-12-09 11:43] jgebal commented on #117
This can be done within reporter.
Reporter gets whole suite before run starts.
The big quiestion is, should it be part of reporter ir part of API.

Should it be always enabled or optional?
If we want it always enabled, we can add it into documentation reporter.

[2018-12-10 19:33] felipebz commented on #112
@pesse I agree with @alesana-san, the TNS_ADMIN variable should be considered, IMHO.

First, to follow the [Oracle documentation](
https://docs.oracle.com/en/database/oracle/oracle-database/18/netrf/local-naming-parameters-in-tnsnames-ora-file.html#GUID-12C94B15-2CE1-4B98-9D0C-8226A9DDF4CB):

[Bonus points if the cli scanned the Windows registry:]

Below, some examples of configurations that, by d

[2018-12-11 07:33] pesse commented on #117
Does Reporter know when a test is finished? Does it even know which test is currently running?

I could imagine to add some new function to reporter API:
* get_current_progress: Returns type containing number of tests, number of run tests and percentage (optional)
* get_current_test: Returns the package/name of the test currently running (if possible)

Would give a great way to increase user-feedb

[2018-12-11 09:20] jgebal commented on #117
Reporters don't provide any get_ functionality. They are data-agnostic.
They only provide stream of output text/data in specified format.
Reporters are not interactive in that sence.

[2018-12-11 11:32] felipebz commented on #112
@pesse it looks good to me. 👍 And yes, the TNS_ADMIN variable is a full path like "C:\Oracle\Middleware\Oracle_Home\builder".

Please let me know if you need some help. I could work on this and send a pull request. ;-)

[2018-12-11 13:33] pesse commented on #117
https://github.com/utPLSQL/utPLSQL/issues/795 might be sufficient as input to consume

[2018-12-18 06:45] #108 closed

[2018-12-27 08:38] SebGt commented on #112
Just in case of, have a look on issue #90 .
Regards.

[2018-12-31 14:38] PhilippSalvisberg commented on #117
@pesse: you may initialize the new `ut_realtime_reporter` in the producer thread (as you do it already for other reporters) and consume the events you are interested in an additional thread for example this way:

[code]

In SQL*Plus I get a result like this:

[code]

You get an event (output row) exactly before a new test is executed. Based on that, showing progressing information should be simple

[2019-01-08 10:43] jgebal commented on #111
Hi @pesse
I've just encountered the same issue.
The challenge is that we're using a shared account to run init tests on CI systems.
Change of password is not an option.

It doesn't look like a JDBC issue, as we see other Java-based apps working fine with this password.

Enclosing password with quotes: `"my_p@$$wo/d"` or `'my_p@$$wo/d'` doesn't help for utPSLQL cli.

The following regex string coul

[2019-01-08 11:10] pesse commented on #111
Hi @jgebal
did you test with sqlcl?
I did my tests around ! with plain JDBC-connections without any intervention of command-line parsing etc.
Do you experience the issue for other passwords?
As of the other java-based apps: Can you give examples?

[2019-01-08 14:10] jgebal commented on #111
I can't give that example of Java based app, as it's in-house solution.

Does utPLSQL-cli work OK with passwords cotaining "@" or "/" ? in password?
I didn't check it thoroughly though to see what passwords are not working fine.

[2019-01-10 08:21] SebGt commented on #98
@Pesse, As discussed on Slack, I add my case as comment:

After updating my UTPLSQL version from 3.0.3 to 3.1.3, now I'm using UTPLSQL-CLI (java client) to run.
I use the following command (from Jenkins):
`V:\Tools\UnitTests\Jenkins\utPLSQL-cli\bin\utplsql run vista_test/vitol_test@VISDAY_GVA.WORLD -f=ut_xunit_reporter -o=tpkg_html_result.xml -f=ut_coverage_html_reporter -o=tpkg_html_coverage.html

[2019-01-10 08:33] SebGt commented on #98
After few tries, in summary I do:
Run Jenkins job -> Complete ok
Run Jenkins job -> Stuck -> Stop Jeknkins run
Run Jenkins job -> Complete ok

[2019-01-10 13:53] pesse commented on #98
More Input from slack (@SebGt):
With my current test, I have this query  `SELECT TEXT, ITEM_TYPE FROM TABLE((:B1 ).GET_LINES(:B2 , :B3 ))` when job is stuck
Table ut_output_buffer_tmp is empty (edited)

When run is successfull, I have up to 3 sessions running.
Details of session are :
 Program: all "JDBC Thin Client",
 Module: "JDBC Thin Client" for 2 sessions and "JDBC Thin Client" after "utPLSQL

[2019-01-11 06:19] pesse commented on #98
Hey @SebGt, can you try whether https://bintray.com/utplsql/utPLSQL-cli/download_file?file_path=utPLSQL-cli-develop-201901102355.zip fixes the problems?

[2019-01-11 10:09] SebGt commented on #98
hello @pesse, thanks,  I'm trying.
I'll give you a feedback today.

[2019-01-11 10:17] SebGt commented on #98
@pesse, sorry, I still have the stuck execs.
Only change is I can exec 2 times successfully before to be stuck. previously it was 1 success / 1 stuck.

[2019-01-11 10:39] pesse commented on #98
Can you tell me what's the latest SQL when being stuck now?
Is it still stuck forever or does it fail?

[2019-01-11 10:44] SebGt commented on #98
I'm checking

[2019-01-11 10:56] SebGt commented on #98
The last query is SELECT TEXT, ITEM_TYPE FROM TABLE((:B1 ).GET_LINES(:B2 , :B3 ))
Run is stuck since 10 minutes and does not fail.

[2019-01-11 10:57] SebGt commented on #98
I checked with DBA on enterprise manager, session has no activity.
After execution of the query SELECT TEXT, ITEM_TYPE FROM TABLE((:B1 ).GET_LINES(:B2 , :B3 )) (it was fast), session does nothing.

[2019-01-11 11:13] SebGt commented on #98
I made tests on Oracle18c and I was not able to reproduce the issue. I ran around 30 times several unit tests and I had no stuck case.
It seems to be related to 11g issue.
To be sure I will made specific Jenkins jobs to be executed on 18c  during several days next week and I will monitor that and I give you a feedback EOW.

[2019-01-11 11:49] pesse commented on #98
This is SQL is issued by `ut_output_table_buffer.get_lines_cursor`
What I don't get is how cli is different to normal ut_runner - they use the same objects to access the output.
@jgebal any ideas?

[2019-01-11 11:52] jgebal commented on #98
I think we've established that the issue with session getting stuck is related to combination of `dba_types`and `connect by` in 11g

[2019-01-12 17:58] jgebal opened #120 "Excessive reporters sessions"
When I run `utPLSQL-cli` with multiple reporters and outputs like:
[code]

Ever reporter allocates separate session.
This can be challenging for environments, where users have limit of concurrent sessions.

It seems that API/cli could use only 2 sessions and still be successful.
session 1 - main session for running tests and collecting report outputs.
session 2 (asynchronous) for collecting real-t

[2019-01-14 07:50] pesse commented on #120
I see the potential problem, but I ask myself: Is this a real issue at the moment? Do we have real-life scenarios *currently* like that?
I'd even wonder why anyone would use so many reporters (if not for testing purpose).

I'd also not introduce another parameter for something like that. I'm not sure we won't run into serious troubles if we use only one single connection and if we change the inter

[2019-01-14 08:20] jgebal commented on #120
Well... It's probably not just hypothetical issue. I actually have higly shared DB, where developer accounts have concurrent session limit of 4.
So if I want 4 reports I neet to run utPLSQL twice as 4 reports require 5 sessions.

Flexibility of max sessions as parameter would be great but isn't a must have.
Realistic request:
- Limit to 2 sessions
- Parameter of max sessions with minimum value of

[2019-01-14 08:31] pesse commented on #120
Ok, so we have a real-life need to reduce the concurrent sessions.

Can you explain what's the benefit you see in adding increased complexity by adding a parameter for "max sessions"?

[2019-01-14 08:33] jgebal commented on #120
Potentially faster execution time if reading reporters output takes more time.
This is however only a hypothesis so probably no real benefit until proven otherwise.

[2019-02-11 08:26] Pazus opened #123 "update HikariCP version"
update HikariCP to the current one.
https://github.com/brettwooldridge/HikariCP

[2019-02-14 13:41] c0dw commented on #20
We're using the most recent version 3.1.2 in a custom docker container (alpine based). About one in 25 calls (in a loop, each iteration using a freshly initialized container) get's blocked and only after waiting one full hour get's terminated eventually.

The utplsql command generates no output at all in these (rare) cases.

Furthermore, as already mentioned the exception/error exit code, due to t

[2019-02-14 13:56] pesse commented on #20
Hi @c0dw ,

are you using Oracle 11.2?
We have identified similar issues with a 11.2 setup (see https://github.com/utPLSQL/utPLSQL-cli/issues/98)

Samuel

[2019-02-14 14:03] c0dw commented on #20
Hi @pesse
No, we're running the utplsql Framework (serverside) on Oracle 12 (Enterprise Edition) and from using 'lsof' I know the utplsql cli uses a version 12 jdbc driver on client side as well:
[code]

[2019-02-14 14:05] pesse commented on #20
I'll soon have a new version of cli ready with logging possibilities - I would then aks you to try it with this new version and provide the logs, if possible

[2019-02-14 14:07] c0dw commented on #20
Absolutely! I look forward to verify the new version, thanks!

[2019-02-14 14:30] pesse commented on #20
That's a good point - want to make an issue for it?
It's actually not much work to include that.

[2019-02-14 14:48] c0dw opened #124 "configurable timeout"
Currently the timeout for long running tests is hardcoded to 60 minutes (see line 207 of org/utplsql/cli/RunCommand.java).

It would be of great value if it were customisable when invoking utplsql depending on the expected runtime of the test.

[2019-02-14 14:53] c0dw commented on #20
OK, done! -> configurable timeout #124
... and many thanks for your swift response!

[2019-02-14 20:39] #89 closed

[2019-02-14 20:39] #76 closed

[2019-02-14 21:18] #124 closed

[2019-02-14 21:31] pesse commented on #20
Hey @c0dw , can you try to reproduce it with this version of cli?
https://bintray.com/utplsql/utPLSQL-cli/download_file?file_path=utPLSQL-cli-develop-201902142127.zip

use
`utplsql run user/pw@connectstring -d`
for debug output

[2019-02-15 12:29] c0dw commented on #20
Hi @pesse
I built a new Dockerimage with the utplsqlcli version 201902142127 you provided and tried to reproduce the bug while using the debug flag. It did not happen. After 100 successful iterations I broke out of the loop. For reference I include the debug output of the last iteration here anyway. And FYI, at the end I listed the invoking loop

[iteration100.txt](https://github.com/utPLSQL/utPLS

[2019-02-15 12:53] pesse commented on #20
thanks a lot for your thorough analysis, @c0dw
We did some tweaks in the newer version, too, so it might be that the main problem is resolved.

[2019-02-15 13:27] c0dw commented on #20
That's the least I can do!
Meanwhile I switched back to the utplsqlcli working version 201902142127 and started a new session expecting it to keep running smoothly all day and next night. (Note to self: Stop expecting!)

As a matter of fact, it happend already in Iteration 17, this time I can provide the full debug log and for comparison the one before (iteration16), where all was well:

[Iteratio

[2019-02-16 11:39] richard-j-smith opened #128 "MD5 Hash"
Would it be possible to provide an MD5 hash has for the latest utPLSQL-clip.zip file as we work in a secured environment and we need to provide an MD5 hash to the security team to be able to upload software to the environment. We are currently using utPLSQL-cli-v1.0.0 and we are planning to upgrade both utPLSQL and this utPLSQL-cli to the latest versions.

Thanks

[2019-02-19 06:57] c0dw commented on #20
Hi @pesse

Please let me know, if I can contribute anything else to **resolve this blocking issue**. Apparently it persists in the development snapshot 201902142127 you provided, as outlined in my last posting.

I'd also like to point out, we still face the additional problem, that the timeout does not trigger a proper error escalation. I still don't get an exitcode after a timeout. My java skills

[2019-02-19 07:18] pesse commented on #20
Hi @c0dw

Can you open a seperate issue for the timeout not causing an error? I agree that a timeout should throw an exception and be visible from the outside.

As for the other issue: The most problematic thing is that we were not able to reproduce the issue yet. What you could help with is to investigate (maybe together with your DBA) which SQL statement is executed (or was executed last) in the

[2019-02-19 08:08] c0dw opened #129 "Timeout does not cause exception / error escalation"
The timeout implemented in RunCommand.java does not trigger a proper error escalation. I still don't get an exitcode after a timeout in the onvoking process. My java skills are slightly rusty - so correct me if I'm wrong, but from [your code](https://github.com/utPLSQL/utPLSQL-cli/blob/develop/src/main/java/org/utplsql/cli/RunCommand.java) (lines 203-209) I understand you're using java.util.concur

[2019-02-19 08:10] c0dw commented on #20
Hi @pesse

Thank's again for your fast response!

Don't get me wrong, patience is not not a problem, we've got a workaround in place which reruns the affected tests. I certainly did not intend to push you, on the contrary I wish support for expensive commercial products was always as timely and substantial as your own, it's much appreciated!!!

I followed up on my remarks, because I currently **ca

[2019-02-19 08:17] pesse commented on #20
Thank you for your kind and encouraging words :)
It's great you can reproduce it.
Can you also reproduce it with
- Only one Reporter configured
- Different Reporter than JUNIT configured

This might help to narrow down the problem.

[2019-02-19 08:19] jgebal commented on #20
Could you also check to see if the same issue occurs with latest utPLSQL framework build from develop branch?
There were some slight changes.
@pesse, not sure if you still have dependency on getting reporters list in API?

One more thing to mote is that the problem could somehow relate to oracle fixed table stats.
Can you check that system statistics are gathered at the DB that is facing the issue

[2019-02-19 08:31] pesse commented on #20
No, we don't. If it was the case we would also not see Reporter initialization messages.

Sounds reasonable, I just have to admit that this is something I have absolutely no experience with, so chances are high I need some time. Also not sure what privileges are necessary etc.

[2019-02-19 11:24] c0dw commented on #20
A short update on a preliminary result:

This issue seems to be related to #98 indeed. During two blocked sessions I was able to query the oracle database and came up with this:

[code]
Only SID 18 and 753 are relevant. These sessions were the two blocked ones in a loop of more than 300 iterations. So, when it happend in SID 18, the loop continued after the timeout until it happend again in SID 75

[2019-02-19 12:01] c0dw commented on #20
Currently I'm in the next blocked iteration:

[code]

**All the session waits**
[code]

**History of wait events in a specific session**
[code]

[2019-02-19 22:08] pesse commented on #128
Hi @richard-j-smith,
MD5 for 3.1.2 is
`2e1c7b1dffee1f407c20f9f033428d72`

We will add md5-files automatically for all future releases, thanks for pointing out.

[2019-02-20 10:21] #128 closed

[2019-02-21 11:45] pesse commented on #20
Hi @c0dw ,
thanks again for your thorough analysis.
Could you please do the following in a stuck scenario:
[code]
and
`select * from ut_output_buffer_info_tmp;`

and provide it both together with the cli logfile?

[2019-02-22 07:38] c0dw commented on #20
Hi @pesse

Unfortunatly now I'm also having a hard time to reproduce the error condition again. In the past few days it did not happen once. Currently I have a loop running more than 1000 iterations and the test performed flawlessly each time. It is not running against the same Docker container anymore, I re-created it several times in past days, but I also tried using the very same docker image o

[2019-02-22 15:38] c0dw commented on #20
Hi @pesse
At last, I had a new blocking call after literally thousands of iterations. I'v been able to collect the output of the two queries you mentioned, but I don't have the debugging output (cli logfile) on the client side. As debug is just to noisy, if one has to wait that many iterations until something interesting happens, I limited the output to one line per iteration:

[code]
The query on

[2019-02-23 09:56] PhilippSalvisberg commented on #20
@pesse: Yesterday, I met with @c0dw. He explained me the problem and I think I've got a pretty good understanding of the faulty behaviour. I plan to look at it next Wednesday. I'll keep you updated. Either via this issue or via Slack.

[2019-02-25 07:20] pesse commented on #20
@c0dw Thanks!
What is a bit strange is that you got no output for the 1st query, which means the block is happening because the reporter tries to fetch rows which are not there.
The second spool unfortunately doesn't tell us anything without the log (or at least this part of the client log: `Database-reporter initialized, Type: ?, ID: ?`)
If you can repeat your loop and pipe only the following lin

[2019-02-25 08:20] jgebal commented on #20
The one thing that surprises me is that there is no main session hanging while reporters are waiting for the output.
It would be important to understand what is happening to the maun session.
- When it dies
- Why it dies
- Why there is no error when it dies
- Why cli keeps remaining sessions open when main session dies

[2019-02-26 10:17] SebGt commented on #20
@pesse, please find below result of a run that was stuck with debug enabled and the result of above queries:
`C:\Users\$devtools>V:\Tools\UnitTests\Jenkins\utPLSQL-cliD\bin\utplsql run test/test@dev_db.WORLD -d -f=ut_xunit_reporter -o=tpkg_result.xml -f=ut_coverage_html_reporter -o=tpkg_coverage.html -p=test.tpkg -include=dev.pkg
2019-02-26 11:12:09 [main] INFO  org.utplsql.cli.RunCommand - ######

[2019-02-26 10:26] SebGt commented on #20
Using flashback fro query 1, I found these records:
`select output_id, is_finished, count(text)
 from ut_output_buffer_tmp
AS OF TIMESTAMP
  TO_TIMESTAMP('2019-02-26 11:12:09', 'YYYY-MM-DD HH:MI:SS')
 group by rollup (output_id, is_finished);`

`82CA49C6FDA7627CE0540010E0766450	0	57
82CA49C6FDA7627CE0540010E0766450		57
		57`
Same at  TO_TIMESTAMP('2019-02-26 11:12:10'
And table is empty at  TO_TIM

[2019-02-28 08:26] pesse commented on #20
@PhilippSalvisberg found the cause for the problem and we discussed approaches.
The main issue seems to be somewhere in the Oracle driver in combination with Object Types. In fact, when facing the scenario of @c0dw, the java stack shows that the Thread which calls the TestRunner is in waiting state at
[code]

This also explains why we have the reporter IDs in `ut_output_buffer_info_tmp` but no lin

[2019-03-01 07:21] pesse commented on #92
Main problem at the moment is our usage of `com.sun.nio.zipfs.ZipPath` for HTML Coverage reporter

[2019-03-04 17:35] PhilippSalvisberg commented on #20
@pesse, fyi I can reproduce the error on my local machine with this test case (running a single utPLSQL test):

[code]

Against a 12.2 I need to run the test 3 to 4 times until test run hangs. However, when I run it against 18.5 or 19.2 then issue happens always during the first run. So, if you are going to test it locally, it will help to use a newer version of the Oracle Database to reproduce th

[2019-03-04 20:12] pesse commented on #20
Awesome! Thank you very much, @PhilippSalvisberg!

[2019-03-14 22:05] #129 closed

[2019-03-14 22:08] pesse commented on #20
@c0dw @SebGt Could you please both try the following develop-version of cli?
There should be no stuck anymore.
In case of the previously stuck-situation, there should be now a log-message like
`WARNING: Caught Oracle stuck during creation of Runner-Statement. Retrying (1)`

[2019-03-15 07:03] pesse commented on #115
I included the possibility to connect as SYSDBA, however every time I try to test it I get the following:

[code]

@jgebal can you give me a hint what's causing this and can we circumvent it?

[2019-03-15 07:20] SebGt commented on #20
@pesse, thanks. I will test it today and I give my feedback asap.

[2019-03-15 08:07] pesse commented on #115
Played around a bit with `grant inherit privileges on user sys to public`, but didn't change anything.
I guess I'm doing it wrong 😁
@walter-weinmann on which Oracle version are you? Can you run `select ut.version() from dual` from your sysdba role?

[2019-03-15 10:47] jgebal commented on #115
This is related to potential security risk when runnign packages that have `AUTHID CURRENT_USER` from SYS account.
Your code suddenly has DBA privs and can do whatever you want.

In general, you should never be using/running code that has AUTHID CURRENT_USER as SYS/SYSDBA unless you're 100% sure noone was messing with that code.

So you need to execute:
`GRANT INHERIT PRIVILEGES ON USER SYS TO UT3

[2019-03-15 10:48] jgebal commented on #115
See: https://docs.oracle.com/database/121/DBSEG/dr_ir.htm#DBSEG661

[2019-03-15 11:11] SebGt commented on #20
@pesse, All my tests (around 30 different set of tests) were all passing this morning.
Thank you very much to have fixed this issue.

I will see the next days if it is confirmed but I have no doubt

[2019-03-15 11:12] pesse commented on #20
Great! Thanks for the feedback.
Did you see this line?
`WARNING: Caught Oracle stuck during creation of Runner-Statement. Retrying (1)`

[2019-03-15 12:57] SebGt commented on #20
No but I did not check all outputs. I will if it can help you.

[2019-03-15 13:39] pesse commented on #20
If you could check it would be great because it means the (suspected) Oracle bug still occurs but is caught reliably (which is a far better message than the Oracle bug we tried to catch didn't occur for whatever reason during x runs)

[2019-03-15 16:30] SebGt commented on #20
@pesse, none of my executions (~20 Jenkins jobs) displayed a warning.
They are all like that :

[code]

I will check next week.

[2019-03-18 10:41] SebGt commented on #20
Hi @pesse, most of my tests ran without any issues today. Only one had the warning message twice time. Between the 2 runs with the warning I had other runs of the test without issues

**First one:**
[code]

**Second one:**
[code]

Don't hesitate if you need more details.

[2019-03-18 13:47] pesse commented on #20
Thank you very much @SebGt !
The log proves that the bug is caught and dealt with :)

[2019-03-18 15:18] SebGt commented on #20
You're welcome.
I don't have stuck execution anymore.
Thank you for taking the time to solve this problem related to the 11g.

[2019-03-19 06:57] pesse commented on #20
@c0dw and @PhilippSalvisberg did some extensive testing and analysis yesterday (on Oracle 12.2) which they shared with me afterward. The findings:
- Watchdog catches the stuck situation reliably (appeared 5 times in 200 runs)
- In one case the stuck situation happened two times in a row but was resolved in the 3rd try
- The reported results were correct

The I/O exception caused by aborting the co

[2019-03-19 06:57] #20 closed

[2019-03-19 21:50] #115 closed

[2019-03-19 22:09] #123 closed

[2019-03-25 08:01] pesse commented on #111
The problems with special chars in user and password-part are solved via #133
I also wasn't able to reproduce the original issue with the latest cli-version anymore.
@dev704 could you probably test if the problem you experienced still exists with https://bintray.com/utplsql/utPLSQL-cli/download_file?file_path=utPLSQL-cli-develop-201903241854.zip?

[2019-03-28 00:06] jgebal opened #136 "Incorrect utPLSQL version reported"
version reported by cli is not matching what is in-database.
I get:
[code]
Would expect to see: `3.1.6`

[2019-03-28 00:08] jgebal opened #137 "Ability to enable/disable DBMS_OUTPUT from cli"
Previous versions of `cli` had DBMS_OUTPUT.ENABLED;
With release `3.1.6` this is no longer the case.
Some of our tests are relying on DBMS_OUTPUT and were working properly on previous version of cli. They started failing after upgrade.

[2019-03-28 14:24] kga676 opened #138 "How to use utplsql with -q?"
Please give me an exaple of of calling utplsql.bat with -q key
like ulplsql <connect options> -p=suite
I tried everything but still can not understand where i should put the "-q" key

[2019-03-28 14:28] pesse commented on #138
[code]
or
[code]

[2019-03-28 14:37] kga676 commented on #138
And i got this
![image](https://user-images.githubusercontent.com/45682640/55166424-25010b80-5180-11e9-91f3-3b2545ac8bae.png)

[2019-03-28 14:47] pesse commented on #138
This is strange.
Can you provide the output of `utplsql info` ?

[2019-03-28 16:08] kga676 commented on #138
Here it is
I installed cli by Ctrl+C -> Ctrl+V in my old cli folder
![image](https://user-images.githubusercontent.com/45682640/55173459-ce4dfe80-518c-11e9-98bd-afdf29ff6cf3.png)

[2019-03-28 16:34] kga676 commented on #138
Fixed that by clear installing. Thanks for run example

[2019-03-28 16:34] #138 closed

[2019-03-28 19:36] pesse commented on #138
You're welcome!

[2019-03-29 07:28] pesse commented on #136
Can you provide the output of `utplsql info user/pw@connectstring` ?
This is very strange, because we get the right output for all versions tested against:
https://travis-ci.org/utPLSQL/utPLSQL-cli/builds/512875014

[2019-03-29 13:56] jgebal commented on #136
This is what I get when I run locally.
[code]
[code]

[code]

[2019-03-29 13:57] jgebal commented on #136
It seems to be related to `-scc` option.
When I run without scc, it works fine.
[code]

[2019-03-29 14:06] pesse commented on #136
There we go - it's the `scc` and it even says what it does:
`Skipping Compatibility check with framework version, expecting the latest version to be installed in database`

Two issues:
First of all, it assumes the wrong latest version
Second, even when assuming we should somehow still try to get the actual version and state this in the logs.

Thanks for the finding :)

[2019-03-31 15:36] jgebal commented on #137
Ideally that schold be parameter to cli.
This way user can have control over that behavior.
I woyld leave default enabled probably.

[2019-03-31 15:36] jgebal commented on #137
Or follow sqlcl and sqlplus (default=disabled)

[2019-03-31 22:51] jgebal opened #139 "Add support for random order (3.1.7 feature)"
There are 2 new parameters coming in utPLSQL 3.1.7
It would be great to have them supported by cli
utPLSQL/utPLSQL#422
utPLSQL/utPLSQL#878

[2019-03-31 22:59] jgebal opened #140 "Abstract from `ut_output_table_buffer`"
cli/api should not reference `ut_output_table_buffer`
Instead, it should use `ut_xxx_reporter.get_lines` to reference the buffer.
This way, different reporters can use different types of buffers and cli is abstracted from them.

[2019-03-31 23:10] jgebal commented on #140
We might be forced to introduce additional constructors for reporters in utPLSQL.
So that api/cli can create an in-line reporter like:
[code]

Today, you would need to do it in two steps:
[code]

Alternatively, we could have a method to get reporter by id:
[code]
This approach would be better as it wouldn't require changes on all reporters and wouldn't be a breaking change.

[2019-04-01 07:16] pesse commented on #140
The current implementation of cli/java-api does only reference OutputBuffer in one place:
- Pre 3.1.0 implementation for compatibility (`ut_output_buffer.get_lines_cursor(?)`)

There is, however, a check whether a reporter has output or not, which is basically a subclass-test on `ut_output_reporter_base`.

While the classes are still named "OutputBuffer" in java-api (something we should eventually

[2019-04-01 07:24] pesse commented on #137
Love the idea of a parameter

[2019-04-01 07:39] jgebal commented on #140
Oh.
This is perfect then. You can consume from curtso - no issues.
I thought you said we depend on output buffer - that is why I raised the issue.

I'll check to see if cli 3.1+ works well for separate buffers.

[2019-04-01 07:39] #140 closed

[2019-04-01 07:41] pesse commented on #140
Yeah, that's what I thought from the top of my head because the classes are named OutputBuffer but are in fact not using it :)

[2019-04-04 21:36] #137 closed

[2019-04-04 21:37] #136 closed

[2019-04-05 19:15] felipebz opened #143 ""-type_mapping" not recognized in 3.1.6"
Hi everyone.

I updated the utPLSQL-cli from 3.1.2 to 3.1.6 and the option "-type_mapping" isn't recognized anymore, for example:

`utplsql-cli run (database) -p=(schema) -f=ut_sonar_test_reporter -o=tests.xml -source_path=src -test_path=test -type_mapping="sql=PACKAGE BODY"`

If I use utplsql-cli 3.1.2 then the file "tests.xml" is generated correctly, but if I try to use the version 3.1.6 I get t

[2019-04-05 19:49] pesse commented on #143
No, thanks for finding!
Time to create an integration test for this behaviour, too.

[2019-04-11 10:26] tkleiber opened #144 "frequently ORA-01013 errors"
With the new versions I get frequently follwing errors, which I did not see 3.1.3 before.

/data/utPLSQL-cli/bin/utplsql run ****/****@****:****/****--color --path=****,****--failure-exit-code=0 --timeout=240 --format=ut_documentation_reporter -o=ut_documentation_reporter_db.log -s --format=ut_xunit_reporter -o=ut_xunit_reporter.xml --format=ut_coverage_html_reporter -o=ut_coverage_html_reporter.h

[2019-04-11 10:31] pesse commented on #144
Hi @tkleiber , thanks for reporting.
Does cli abort with this error or is it "just" part of the output?
Can you provoke this behavior with `-d` parameter set and provide the log (you can reach out to me via slack or email in private if you prefer to)

[2019-04-11 10:35] tkleiber commented on #144
It aborts!
Have to duplicate the calling code from a jenkins library before I can add the switch, needs some minutes!

[2019-04-11 10:55] tkleiber commented on #144
After a quick look at the error stack I see the following line:
ORA-06512: in "UT3.UT_OUTPUT_TABLE_BUFFER", Zeile 198
There I found:

`
    delete from ut_output_buffer_tmp t
     where t.output_id
        in (select i.output_id from ut_output_buffer_info_tmp i where i.start_date <= l_max_retention_date);

    delete from ut_output_buffer_info_tmp i where i.start_date <= l_max_retention_date;

[2019-04-11 11:00] pesse commented on #144
Would you open an issue in the main utPLSQL project, because this is not related to cli?
Great finding - I wonder if we need some different cleanup method @jgebal in case of large amounts of results

[2019-04-30 13:50] DrErique opened #145 "Detected Oracle Driver stuck during Statement initialization"
Hello,

I get the error message above regularly after two or three succesfull testings.
Then I have two or three unsuccesful tries with the Oracle Driver stucks, after that in the next try can be succesfull again.
There is no unpredictability if the driver stucks or not.
So we have

30-Apr-2019 15:20:52
30-Apr-2019 15:20:52	C:\Users\vmwareadmin\bamboo-agent-home\xml-data\build-dir\SWITEGIT-WT-JOB1

[2019-04-30 14:04] pesse commented on #145
Hi @DrErique

what happens after the `Detected Oracle driver stuck during Statement initialization`?
The expected behavior would be that CLI does an automatic retry (and potentially some error stacks are written). Does this happen?
It's a problem we investigate since several months now and our solution (because it is very likely to be a driver bug) was to have an internal watchdog which detects su

[2019-04-30 15:28] DrErique commented on #145
Hello Samuel,

Thanks for the quick response.

As you probably have noticed the utPLSQL Command starts from a Bamboo – Powershell – Skript – Task.

I do not notice any retry .

Last entry in the Log is "Detected Oracle Driver stuck …" and the build runs endless until it is stopped manually.
As you can see in the picture the build ran for 21 minutes.

Maybe I have to set some special parameters for

[2019-05-01 20:34] alesana-san opened #146 "CLI fails to map sources/tests with code"
Hi!

I post here full information about problem with running CLI using Jenkins CI.
I have the following folder structure:
[code]
Here's my debug xml outputs: [debug_xmls.zip](https://github.com/utPLSQL/utPLSQL-cli/files/3135917/debug_xmls.zip)
The owner of tests/sources is the same user I use to connect to DB.
Adding some logging stuff inside `utplsql` mapping routings showed that CLI sends right

[2019-05-02 09:35] tkleiber commented on #144
It it possible to move this issue?
https://help.github.com/en/articles/transferring-an-issue-to-another-repository

[2019-05-02 15:50] cavadino2 opened #147 "PLSQL in different schema without global synonyms"
Hi,
I installed utPLSQL in a seperate schema, without global synonyms.
So I did not ran the script source/create_synonyms_and_grants_for_public.sql
but I ran the script source/create_user_grants.sql

This works all fine in database. I have my user hr, which has some tests and ut3, where utPLSQL is installed. I can execute all my tests as hr user in the DB by calling

`exec ut3.ut.run;`

But I cann

[2019-05-02 17:13] jgebal commented on #147
This is intersting issue.
I would expect cli to work just fine.
It seems that the check for ut3 existence is not working correctly.

[2019-05-03 08:54] pesse commented on #145
Hm, this is strange - the Stuck is detected but it's not aborted (for whatever reason).
Can you try a different OJDBC driver?
I use ojdbc8-12.2.0.1.jar currently.

[2019-05-03 09:14] DrErique commented on #145
Hello Samuel,

I'll get that one and we see if this works better next week.

Have a nice weekend  !

Mit freundlichen Grüßen

Derik Wehrmann

_________________________________________________________________

Tel: -551 | Test- und Releasemanager | IT SCM

Von: Samuel Nitsche <notifications@github.com>
Gesendet: Freitag, 3. Mai 2019 10:55
An: utPLSQL/utPLSQL-cli <utPLSQL-cli@noreply.github.com>
Cc:

[2019-05-04 08:30] jgebal commented on #147
Can youalso execute tests from HR schema by calling: `ut.run` without UT3?

[2019-05-04 08:56] cavadino2 commented on #147
Hi Jacek,
no, that is not possible. I must prefix with "ut3.",
because I was not allowed to create public synonyms.
Beside that limitation, everything works well when executing from DB.
Therefore my proposal to provide an optional command line parameter for the
cli, so that calls to "ut" can be prefixed with the schema, where utPLSQL
is installed.
Kind regards,
Sebastian

Jacek Gębal <notification

[2019-05-04 09:10] jgebal commented on #147
You need yo create private synonyms in HR schema for UT3.
There are scripts provided to create synonyms as well as grants for schema:
https://github.com/utPLSQL/utPLSQL/blob/develop/source/create_user_grants.sql
https://github.com/utPLSQL/utPLSQL/blob/develop/source/create_user_synonyms.sql

Grants shpuld be executed as UT3
Synonyms as HR.
With that you should be all set.
Let us know if that doesn

[2019-05-06 07:32] cavadino2 commented on #147
You are right. I missed to execute create_user_synonyms.sql.
After executing it, the CLI works just fine.
Thank you very much

[2019-05-06 07:32] #147 closed

[2019-05-08 14:42] DrErique commented on #145
Hello Samuel,

Unfortunately that didn't solve the problem.
Do we have any debug option ?

You mentioned the –d Parameter in another issue ?

What about this "HikariPool-1 - Driver does not support get/set network timeout for connections. " report. Perhaps we have a problem with the HikariCP ?

[2019-05-09 07:22] pesse commented on #145
Yeah, this line is strange - didn't notice it so far in any of my runs.
Did you use the latest version of cli from the github page? (yes, there's still something wrong with putting the build number into the version automatically)

[2019-05-09 12:22] DrErique commented on #145
I'll try that also, downloading latest version.
We see if this works better  … ☺

Von: Samuel Nitsche <notifications@github.com>
Gesendet: Donnerstag, 9. Mai 2019 09:24
An: utPLSQL/utPLSQL-cli <utPLSQL-cli@noreply.github.com>
Cc: Wehrmann, Derik <D.Wehrmann@wertgarantie.com>; Mention <mention@noreply.github.com>
Betreff: Re: [utPLSQL/utPLSQL-cli] Detected Oracle Driver stuck during Statement initi

[2019-05-09 12:38] tkleiber opened #148 "ut_coverage_cobertura_reporter generates wrong line breaks"
I have generated attached coburtura coverage.
There are several linebreak eg. in line 39 which breaks the xml validation against http://cobertura.sourceforge.net/xml/coverage-04.dtd.

[ut_coverage_cobertura_reporter.zip](https://github.com/utPLSQL/utPLSQL-cli/files/3162141/ut_coverage_cobertura_reporter.zip)

![cobertura](https://user-images.githubusercontent.com/2185441/57453731-67c9ff00-7267-11e

[2019-05-10 07:57] pesse commented on #148
Do you have similar issues on e.g. JUnit-Reporter?

[2019-05-10 08:54] tkleiber commented on #148
Junit Reporter works fine!

[2019-05-10 09:07] dmpe commented on #148
Btw. can also some check on your side the Sonar Test execution report as well?
Coverage should be working fine but test execution for sonarqube is not working for us.

Thanks

[2019-05-10 09:12] dmpe commented on #145
Hi,
I am also facing same issue here with Oracle DB 11.2,Java-Version: 1.8.0_212 , latest utPLSQL-cli 3.1.6 and jdbc 6 (the one from oracle site)

Actually I wanted to file a request for allowing to specifying more HikariConfig options, i.e. `addDataSourceProperty` (e.g. allowPoolSuspension)...maybe it would help slighly

[2019-05-10 10:03] pesse commented on #148
@dmpe Could you open a separate issue for this? I'm also not 100% sure if I understand your problem, maybe you can provide some more details

[2019-05-10 22:38] jgebal commented on #148
@dmpe Please open a separate issue on utPLSQL main project.
Reporter issues are most probably on the code side.
Please also provide info on:
- sonar server version you're using
- the detailed type of problem you're facing
- if possible, example of the XML report that you see as troublesome

[2019-05-10 22:42] jgebal commented on #148
@tkleiber - I'm moving this issue to utPLSQL main repo

[2019-05-11 19:16] dmpe commented on #83
Hi @pesse ,
do you know what happened to  `11g-r2-xe` which worked up until some time ago https://travis-ci.org/utPLSQL/utPLSQL-cli/builds but then stopped ...
May it be related somehow to https://github.com/utPLSQL/docker-scripts which does not list  `11g-r2-xe` (anymore)?

[2019-05-13 07:59] pesse commented on #145
For we don't necessarily need a connection pool, I'll try to remove HikariCP completely.

[2019-05-13 08:08] jgebal commented on #83
There was some interim issue with docker credentials.
The images are getting pulled from docker now.
There seems to be a different issue with the build process now

[2019-05-13 08:29] pesse commented on #83
Will have to investigate, somehow we don't get the LocalAssets anymore:

[code]

I love configuration issues... 😞

[2019-05-13 18:34] dmpe commented on #145
ok, that sounds awesome if it can be done. Actually I wanted to build several versions of utplsql-cli with different HakariCP and jdbc drivers to test it out where the problem may be. i would try to report my results on this friday...though do no wait on me, just go ahead.

[2019-05-14 20:58] pesse commented on #139
Fixed by #142

[2019-05-14 20:58] #139 closed

[2019-05-15 08:48] pesse commented on #146
Hi @alesana-san ,
can you please try the following cli-version with debug-option on ( `-d` ) and provide the output (you can also send it to me in private)?

https://bintray.com/utplsql/utPLSQL-cli/download_file?file_path=utPLSQL-cli-develop-201905150804.zip

[2019-05-24 09:26] alesana-san commented on #146
Finally found out that my CLI `lib` directory lacked `orai18n.jar`.
The probable problem is https://stackoverflow.com/questions/14998299/oracle-array-filled-with-null-data-in-java

[2019-06-04 21:57] pesse commented on #143
The issue is actually caused by a bug in JCommander, which uses `startsWith` at several places to match VariableArity parameters. This is a problem because our new `-t, --timeout` matches anything which starts with `-t`...

After investigation, I fear fixing the bug in JCommander might have unwanted side-effects, therefore I think about switching to a different CLI library like https://github.com/

[2019-06-05 20:00] guicampos commented on #145
I had a similar issue:

  UtPLSQL core: v3.1.6.2735
  Oracle Database 12.1.0.2
  utPLSQL-cli 3.1.6.local
  utPLSQL-java-api 3.1.6.411
  Java-Version: 1.8.0_211
  ojdbc7.jar

When i first executed  the command:

`../utPLSQL-cli/bin/utplsql run -d  user/passwd@mydb:1521/mysid -source_path=sources -test_path=tests -f=ut_documentation_reporter  -c -f=ut_coverage_sonar_reporter -o=coverage.xml -f=ut_so

[2019-06-05 21:03] guicampos opened #152 "How to import ut_coverage_sonar_reporter into sonarqube?"
(a little edit)
Hello guys,
I have just generated a coverage report with
[code]

Everything seems to be ok, the test runned ok and now I have 3 files:
3,5K Jun  5 18:08 generic_html_coverage.html (and generic_html_coverage.html_assets)
169 Jun  5 18:08 sonar_coverage.xml
365 Jun  5 18:08 sonar_test_results.xml

I have a working sonarqube installed, and I have created a project there.

The question

[2019-06-05 22:04] guicampos commented on #152
Ok, after some research and struggling around, I was able to use sonar-scanner to try to scan my project.

Also after configuring the sonar-project.properties, now I have:

[code]

It happens that our sonarqube is community edition, and the SonarPLSQL is available only from Developer edition+.
Is there anyway to mitigate this?

[2019-06-05 22:42] jgebal commented on #152
Hi @guicampos

I'm glad you got part of the problem solved.
With Sonar on-prem you will need license for PL/SQL plugin I'm afraid.

If you're working on open-source however, sonarcloud.io is allowing for free analysis of PL/SQL code.
You might want to checkout this PR I did over the weekend to OraOpenSource/Logger#230 to see how it integrates with sonarcloud.

There is alternative plugin or PL/SQL

[2019-06-06 15:54] guicampos commented on #152
Hello, Thank you for your quick awnser!

I'm doing some tests to try to invent someway to make CI with Oracle Apex applications, along with those Apex applications' packages.
I'm a DBA, not a developer, I'm just making a research to help my dev team. So I don't have a clear final objective, just trying to go from 0 CI to something and learn something in between. hahaha

I'll take a look at the pls

[2019-06-06 19:03] pesse commented on #152
So great to hear you're encouraging your devs towards using automated self-tests and CI, @guicampos!
💪

[2019-06-06 19:23] PhilippSalvisberg commented on #152
AFAI know the following SonarQube plugins exists for PL/SQL:

Plugin | `sonar.language` | Notes
-- | -- | --
[SonarPLSQL](https://docs.sonarqube.org/display/PLUG/SonarPLSQL) | `plsql` | Commercial product by [SonarSource](https://www.sonarsource.com/), based on [SSLR](https://docs.sonarqube.org/display/DEV/SSLR)
[PL/SQL Cop for SonarQube](https://www.salvis.com/blog/plsql-cop-for-sonarqube/) | `pl

[2019-06-06 19:36] jgebal commented on #152
If you need any help setting up jenkins deployment, join our slack. There are many people ready to share their knowledge :)

[2019-06-06 22:30] guicampos commented on #152
Cool,
can you handle me the slack invitation link?
*Guilherme Campos*

On Thu, Jun 6, 2019 at 4:36 PM Jacek Gębal <notifications@github.com> wrote:

[2019-06-06 23:33] jgebal commented on #152
Click on a slack badge in utplsql readme on main utplsql project page

[2019-06-07 10:32] #146 closed

[2019-06-07 12:23] MS-24 opened #153 "reporters throwing the error"
Hi
I am new to  implementing utPLSQL-cli  .
1. When I use 'run' it executing fine , but with 'reporters' getting the below error.
[code]
2. Also html report (**-f=ut_coverage_html_reporter -o=coverage.html** ) is not providing the coverage for the packages outside of the utplsql schema( utplsql framework installed in a separate schema) .
3. I have successfully generated the html report for the sam

[2019-06-07 12:37] jgebal commented on #153
Can you share the full command you're using to issue html coverage?
Are you coonecting as test owner or utplsql user?

[2019-06-07 12:37] pesse commented on #153
Hi @MS-24

can you please run `utplsql reporters $conn` with the latest develop-binaries of cli?
https://bintray.com/utplsql/utPLSQL-cli/download_file?file_path=utPLSQL-cli-develop-201906071035.zip

Cli should be downwards-compatible, but we didn't have automated tests against all previous versions (something we improved since then)

As for the source-path, please see http://utplsql.org/utPLSQL/v3

[2019-06-07 12:39] jgebal commented on #153
The source_path is not mandatory for html coverage.
It is needed for peoper cobertura and sonar reports
Source path needs to point to directory where your sources are stored.
You can find details on all of those optipns in utPLSQL documentation.

[2019-06-07 14:47] MS-24 commented on #153
Hi @jgebal
Thanks for the response .
I have created new schema 'vutplsql' . Frankly I am not sure if it is the test owner or utplsql user. I defenitely didn't use 'ut3' user if it is the utplsql user that your refering to :) .

**Command used for Run:**
`"utplsql run VUTPLSQL/test123@myService -p=vutplsql.test_accountCreate_suite  -f=ut_coverage_html_reporter -o=coverage.html "`

**Command used fo

[2019-06-07 15:17] MS-24 commented on #153
Hi @pesse
Thanks for the response . No luck with the one you have provided.

[code]

[2019-06-07 16:19] MS-24 commented on #153
On Point#2 ,please suggest why utplsql couldn't generate the html report.

I have tried the below code for which the coverage report generated for the package 'codeToBeTested_pkg' in schema 'otherSchema' .

[code]
But with utplsql I couldn't able to see the coverage report generated.

[code]

[2019-06-10 16:07] MS-24 commented on #153
Could someone help here please?

[2019-06-10 16:35] jgebal commented on #153
When you run from SQL, are you also connected as `vutplsql`?

[2019-06-10 22:45] jgebal commented on #153
Hi @MS-24
Sorry for a brief reply before - I was writing from my mobile.

In order to be able to help you we need to understand few basic challenges around your current setup.

# Issue 1 - no coverage using utplsql-cli

Looking at the commands you're using I deduct that:
- your test package is in `vutplsql` schema
- the package that you're testing is in so- called `otherSchema`
- when running utpl

[2019-06-11 05:08] MS-24 commented on #153
Yes @jgebal  . I am using the same schema when I use SQLPLUS ,sqldeveloper and utplsql.
And this schema has 'CREATE ANY PROCEDURE' grant .

[2019-06-11 06:49] pesse commented on #153
Hi @MS-24 ,
could you probably open a separate issue for the `reporters`-command problem or the source mapping problem?
It's difficult to track multiple problems in one issue.
Please also provide which ojdbc-library you are using, you can get information about it by running `java -jar <ojdbc-libary.jar>`

Example:
[code]

[2019-06-11 07:25] jgebal commented on #153
@pesse can you verify the command issued by cli when passing include list?
I would expect it to be same as the example provided by @MS-24
See https://github.com/utPLSQL/utPLSQL/blob/develop/docs/userguide/coverage.md#setting-coverage-schemas for details on different behaviors with different options.

[2019-06-11 10:32] pesse commented on #153
The command is always `ut_runner.run( .... a_include_objects => ? ... )` where ? is an Oracle UT_VARCHAR2_LIST array.
Is it somewhere logged what params are received by the API?
Probably similar i18n problem as in #146

[2019-06-11 11:25] jgebal commented on #153
@MS-24 do you  include orai18n.jar with ojdbc in utplsql-cli lib folder?

[2019-06-11 12:04] MS-24 commented on #153
Thanks much @jgebal  for the help provided . Very much appreciate it . The problem solved for me by using the 3.1.2 version of utPLSQL-cli along with -include option .
I am closing the issue.
Thanks!!

[2019-06-11 12:04] #153 closed

[2019-06-18 01:03] felipebz commented on #152
Oh, thanks @guicampos! (full disclosure: I'm the developer)

I just wanted to clarify that the `sonar.language` parameter from SonarQube was deprecated a long time ago, it was even removed from [SonarQube docs](https://docs.sonarqube.org/latest/analysis/analysis-parameters/). It's not necessary. ;-)

[2019-06-26 06:48] #143 closed

[2019-06-27 19:37] pesse opened #156 "Remove ConnectionPool"
For we have 100% control over all connections we use in a run, there's no need to use a ConnectionPool.

We should therefore get rid of HikariCP.

[2019-06-27 19:50] pesse opened #157 "Support for new `tag` annotation"
Add new `--tags=tag1[,tag2[,tag3]]` parameter.

https://github.com/utPLSQL/utPLSQL-java-api/issues/85
https://github.com/utPLSQL/utPLSQL/issues/66

[2019-06-27 21:36] #156 closed

[2019-06-27 21:48] pesse commented on #145
Hey @DrErique @dmpe @guicampos
could you try out the latest cli and tell me if you still experience the stuck problems?
https://bintray.com/utplsql/utPLSQL-cli/download_file?file_path=utPLSQL-cli-develop-201906272140.zip

[2019-06-28 09:44] DrErique commented on #145
Hello Samuel,

Thanks for contacting.
I'll try some builds with that next week and tell you about the results.

Nice weekend !

Mit freundlichen Grüßen

Derik Wehrmann

_________________________________________________________________

Tel: -551 | Test- und Releasemanager | IT SCM

Von: Samuel Nitsche <notifications@github.com>
Gesendet: Donnerstag, 27. Juni 2019 23:49
An: utPLSQL/utPLSQL-cli <utP

[2019-06-28 14:07] dmpe commented on #145
[code]
Thanks for the effort!!!
It is better now but getting some errors. unfortunately cannot debug this today more extensively. Only later in the month.

[2019-06-28 14:08] pesse commented on #145
Is this the complete log of the problematic run?

Am Fr., 28. Juni 2019 um 16:07 Uhr schrieb John <notifications@github.com>:

[2019-06-28 14:09] dmpe commented on #145
Yes. I have just deleted login info

[2019-06-28 14:11] pesse commented on #145
Thank you for trying out.
I'm a bit lost on this, but will try to work my way around it.
I might create a new, dedicated issue for that.

Am Fr., 28. Juni 2019 um 16:09 Uhr schrieb John <notifications@github.com>:

[2019-07-08 15:31] DrErique commented on #145
Hello Samuel,

Good news.
The first couples of tests with the Bamboo Pipeline were successful.
The client was able to hold the connection to the Database for a duration of 20 – 30 Minutes without getting stucked or other problems.
I am very hopeful that we can establish firmly connections to the database with the client in the future.

For the first thank you for your work and the kindly conversat

[2019-07-08 18:44] pesse commented on #145
Thanks for reporting back, @DrErique
I'll create a new, dedicated issue for the situations that still lead to a stuck scenario.

[2019-07-09 05:56] #157 closed

[2019-07-10 14:11] pesse commented on #120
Thought about this topic again.
What we could do:
1 Session to run the tests
1 Session to (live-)consume the results of the reporter that goes to screen or the first mentioned reporter
1 Session to consume all the other reporters after the run itself is finished

That way we would always use at most 3 sessions.
What do you think @jgebal ?

[2019-07-10 14:12] pesse commented on #120
Well, actually we could reuse the session of the live-consuming reporter so it would be 2 sessions at all. At the cost of the secondary reporters only being written after the complete test-run.

[2019-07-11 19:11] pesse commented on #92
Made several tests with different java-versions installed and didn't find any issues.
We'll need to assure the compatibility with Java 8-12 by automated tests, but I'll create a separate issue for that.

[2019-07-11 19:11] #92 closed

[2019-07-11 19:16] pesse opened #161 "Automated tests to assure compatibility with java 8, 9, 10, 11, 12"
While we still want to compile cli with JDK 8, we want to assure its compatibility with java 8, 9, 10, 11, 12.

All Oracle versions supported by utPLSQL are also supported by a corresponding ojdbc8-driver.

We might need to introduce some kind of cli-testing software and have system tests against the compiled/assembled jars.

[2019-07-14 21:44] jgebal opened #162 "Coverage files not mapped after upgrade to cli 3.1.7"
While trying new build pipeline with Azure on out uPLSQL-demo-project, I've decided to switch to latest utPLSQL-cli.
It was then, when I've noticed that coverage is not getting reported on project files.

At first I thought that it's related to build configuration itself but after a bit of unsuccessful debugging I've decided to switch to utPLSQL-cli v3.1.6

On utPLSQL-cli v 3.1.6 coverage is gener

[2019-07-14 23:03] jgebal commented on #162
I did a bit of debug on utPLSQL itself to capture what is passed from cli.
Here are the outputs from invocations:

**utPLSQL-cli v3.1.7**
[code]
a_file_paths	<UT_VARCHAR2_LIST>
  <VARCHAR2>source\api\be_between.syn</VARCHAR2>
  <VARCHAR2>source\api\be_empty.syn</VARCHAR2>
...
  <VARCHAR2>source\uninstall_objects.sql</VARCHAR2>
  <VARCHAR2>source\uninstall_synonyms.sql</VARCHAR2>
</UT_VARCHAR2_LIST

[2019-07-15 15:08] pesse commented on #162
Okay, got it - we call it now as empty array but should pass as null when not set.
That somewhat contradicts my goals to become more immutable 🤪

Question: Is an empty mapping array *ever* a valid option? I don't think so but would be sure.
If not, I'll handle this in the api, so we don't rely on any client to distinguish between empty/null.

[2019-07-15 15:10] pesse commented on #103
From a security point of view: Should we only allow `alter session` statements here? Or allow full-blown sql?

[2019-07-15 15:36] rafael-trevisan commented on #103
I’d vote to allow full-blown sql.

We should know and be responsible for what we’re doing.

[2019-07-15 22:09] jgebal commented on #162
Empty array is not a valid input as it will never cause a proper mapping.
Null/missing parameter is identified as "use defaults" directive for framework, just like with many other parameters.

[2019-07-22 19:45] #162 closed

[2019-08-05 15:14] maxbernhardt opened #163 "utPLSSQL-cli doesn't find tnsnames.ora"
Just like described in #88, if the tnsnames.ora file is not located in ORACLE_HOME/network/admin it is not found, which will result in the error described in #88.

If the Oracle environment variable is TNS_ADMIN is set to any path like
  /home/ccuser/oracle
and the normal network config files (sqlnet.ora, ldap.ora, tnsnames.ora) are placed in that directory, Oracle tools like sqlplus and tnsping w

[2019-08-05 15:23] maxbernhardt opened #164 "utplsql run throws Unknown exception"
When trying to run tests under RHEL 5.11 we receive the following error

ccuser@adeagibx:~/utPLSQL-cli/utPLSQL-cli/bin$ ./utplsql run ****/****@host:port:DB -d
2019-08-05 17:20:51 [main] INFO  org.utplsql.cli.RunAction - utPLSQL cli
    utPLSQL-cli 3.1.7-SNAPSHOT.local
   utPLSQL-java-api 3.1.7.504
   Java-Version: 1.8.0_192
   ORACLE_HOME: /opt/oracle/product/111_cl_64/cl
   NLS_LANG: AMERICAN_AM

[2019-08-16 16:12] pesse commented on #163
Thank you for reporting this and for your patience. It looks like we might already have a solution for this but can't include it so far as to not lose java 9-12 compatibility.
I'm on vacation at the moment but will have a closer look once I'm back.

[2019-08-16 16:15] pesse commented on #164
Thank you for reporting.
Can you tell me which version of ojdbc you are using?
Also: you seem to use a pretty old version of utPLSQL - any chance you can give a newer version a try?

[2019-08-19 11:23] kapbka commented on #145
Hi everyone,

Is there any news on this issue ?

I have come across the same problem "Detected Oracle driver stuck during Statement initialization" when trying to calculate the coverage:

[code]

If it's just the run of the tests then it works:
[code]

Thanks & Regards,
Natalia

[2019-08-27 10:33] maxbernhardt commented on #164
Thank you for the response and sorry for the delay !

We're using ojdbc6.jar, this is the newest ojdbc jar-file included in the 11.2 client we have installed.

Once I find the time, We'll upgrade to the latest version of utPLSQL and try again. I'll report the results here.

[2019-08-27 10:38] pesse commented on #164
@maxbernhardt could you possibly try a newer thin driver like ojdbc8? They should be downwards-compatible.
It's downloadable from the oracle website https://www.oracle.com/database/technologies/appdev/jdbc-ucp-183-downloads.html

[2019-08-27 12:19] maxbernhardt commented on #164
I'll try and get back to you tomorrow

[2019-08-27 12:40] maxbernhardt commented on #164
@pesse: The update of the ojdbc driver package worked fine. Thanks for hint. From my POV the issue can be closed, maybe with a hint in usage to use the ojdbc later than ojdbc6 ?

[2019-08-27 12:48] pesse commented on #164
Yes, will do so. Thanks for checking!

[2019-08-28 08:54] #164 closed

[2019-10-03 09:59] franreyes commented on #103
I agree with @rafael-trevisan .

Allow sql before and after of run test could be add more flexible way for run all suites.
Play with editions is a nice way to run test, changing some things, without break the current code.

It would be nice to see it in the next release :)

[2019-10-03 13:18] pesse commented on #103
I see the need, especially with EDB it seems to be a very valuable feature

[2019-10-16 18:46] felipebz opened #165 "Coverage report is generated without coverage data in v3.1.7"
Hi!

Somehow I missed the release of utPLSQL-cli v3.1.7 (which contains the fix for #143) and I'm testing it now... But when I run the command `utplsql run <db> -f=ut_coverage_sonar_reporter -o="coverage.xml" -source_path=src` the output is generated without any coverage data. It works correctly in v3.1.6.

This issue isn't specific to ut_coverage_sonar_reporter, it can be reproduced with all cove

[2019-10-16 18:55] felipebz commented on #165
Oh, I didn't search in the closed issues, my bad. 🤦‍♂

Thanks for the quick response.

[2019-10-16 18:55] #165 closed

[2019-11-26 15:43] alesana-san opened #169 "CLI shows question marks instead of Russian symbols"
Hi!

What started in a Slack chat grew into this issue :)

I have a test with Russian words in its name. So I expect it to be "Russian" when I call it via `cli`.

Here's my preset:

- NLS_DATABASE_PARAMETERS:
  - NLS_TERRITORY = AMERICA
  - NLS_LANGUAGE = AMERICAN
  - NLS_CHARACTERSET = CL8ISO8859P5
- NLS_SESSION_PARAMETERS (via DataGrip):
  - NLS_LANGUAGE = RUSSIAN
  - NLS_TERRITORY = RUSSIA
- Da

[2019-11-28 10:58] alesana-san opened #170 "NullPointerException when specifying -o key without -f key"
Hey!

My preset is:
[code]
Here's what I get when I put `-o` without `-f` specified:
[code]
And when I specify `-f` flag everything works as expected: file is created, termination is normal:
[code]

[2019-12-04 15:09] vasanthsumanath commented on #145
Hi All,

I have recently started doing POC on the utPLSQL for using it as a unit test frame work for PLSQL developments.

But I am encountering below issue when try executing the test from CLI.

Kindly help.

[code]

[2019-12-04 15:17] pesse commented on #145
Hey @vasanthsumanath , can you please provide a full log as file, running the cli with the `-d` flag?

[2019-12-04 15:19] vasanthsumanath commented on #145
Just to add, its working fine when connected to a different DB,

Below are the major difference between the 2 DB environments

**Successfully executed in**

Oracle-Version: 12.2.0.1.0
Platform - Docker image

**Failed Executing from**
Oracle-Version: 12.1.0.2.0
Platform - CentOS 7 VM
[code]

[2019-12-04 15:20] vasanthsumanath commented on #145
Hi @pesse,

Thanks for your quick response, yes will do it.

Thanks
Vasanth.M

[2019-12-04 15:33] vasanthsumanath commented on #145
Hi @pesse

I have attached log when executed in debug mode.

Below the command executed
``` utplsql run ***/***@//***:1521/*** -d 1>>utplsql_cli.log 2>&1 ```

[utplsql_cli.log](https://github.com/utPLSQL/utPLSQL-cli/files/3922625/utplsql_cli.log)

[2019-12-04 16:01] pesse commented on #169
SQLDeveloper PlugIn has the same problem.
![04-12-_2019_16-59-14](https://user-images.githubusercontent.com/8362976/70158491-a158d080-16b7-11ea-94db-fc5f5004fbcb.jpg)
Which is sad, because it's using a different way to consume the output buffer if I remember correctly.
Any ideas, @PhilippSalvisberg ?

[2019-12-04 16:20] pesse commented on #169
SQLcl has the same problem:
[code]

When trying to do a `select * from table(ut.run())` we get an Encoding exception:

[code]

[2019-12-04 16:31] PhilippSalvisberg commented on #169
@pesse where do I find the test case?

[2019-12-04 16:35] pesse commented on #169
@PhilippSalvisberg needs a special set-up database, then I just created a testcase with some russian chars in the description:

[code]

[2019-12-04 16:41] PhilippSalvisberg commented on #169
I ran it on macOS. Default client character set is there UTF-8. Looks like this:

![image](https://user-images.githubusercontent.com/3883171/70161729-d9aedd80-16bc-11ea-9d3a-6578b6da0e70.png)

and via SQLcl this:

![image](https://user-images.githubusercontent.com/3883171/70161939-27c3e100-16bd-11ea-9621-3a1a20988df1.png)

[2019-12-04 17:00] PhilippSalvisberg commented on #169
If the result of the query:

[code]

looks like this
[code]

then the NLS setup is correct and utPLSQL will show the correct test description.

In all other cases the NLS setup is wrong. It is not really a utPLSQL related issue.

[2019-12-04 19:43] alesana-san commented on #169
Hi! In my case db encoding charset is ISO 8859-5 = CL8ISO8859P5

[2019-12-04 20:05] PhilippSalvisberg commented on #169
@alesana-san can you post the result of the query from SQLcl?

select text from user_source where name= 'RU_TEST';

[2019-12-05 07:34] pesse commented on #169
Okay, I managed to get SQLcl and SQLDeveloper to output it correctly by using `NLS_LANG=russian_cis.UTF8`

But somehow SQLDeveloper PlugIn and cli still show ???

![05-12-_2019_08-19-06](https://user-images.githubusercontent.com/8362976/70213392-79aa4c80-1739-11ea-9409-c302720b46fc.jpg)

[2019-12-05 07:43] PhilippSalvisberg commented on #169
@pesse where do you set NLS_LANG?

[2019-12-05 10:29] pesse commented on #169
Some more investigation, using SQLcl (NLS_LANG set to `russian_cis.UTF8`):

I utPLSQL and paused it before consuming the OutputBuffer, so I could query the underlying table (user SYS):
[code]

For me, this looks like SQLcl can output it correctly, but assumes a wrong encoding, therefore running into the index violation.

On the other hand it can query the source, containing the special chars with

[2019-12-05 12:06] pesse commented on #169
More investigation results:
Querying `ut_output_buffer_tmp` directly via JDBC gives the correct output. Using the Reporter/OutputBuffer does not.

[2019-12-06 08:26] pesse commented on #169
Okay, I think I could dig it down (thanks again @PhilippSalvisberg for your help!)
There are 2 different possible issues:

### Issue 1: Unpatched 12.1
I was able to reproduce a problem of different charset handling when using direct `select * from...` compared to using the OutputBuffer with its pipelined table functionality and SYS_REFCURSOR.
However, this problem did *only* occur on an unpatched

[2019-12-11 06:05] alesana-san commented on #169
In my case it was Issue 1. I patched my Oracle 12c with the latest PSU and it worked as expected. Any additional lines (such as setting `JAVA_TOOL_OPTIONS` and `NLS_LANG`) aren't needed now.
Issue can be closed I guess. Thank you for so detailed explanation!

[2019-12-11 06:58] PhilippSalvisberg commented on #169
@alesana-san, thank you for letting us know. So it was an Oracle Database bug in the end.

[2019-12-11 08:21] #169 closed

[2019-12-11 08:21] #170 closed

[2019-12-11 08:23] #152 closed

[2019-12-11 08:30] pesse commented on #98
This should be dealt with by the meanwhile implemented watchdog.

[2019-12-11 08:30] #98 closed

[2019-12-11 11:39] vasanthsumanath commented on #145
Any help/suggestion with the issue I am facing?

[2019-12-11 12:08] pesse commented on #145
These issues are among the hardest to investigate, because they are near impossible to reproduce on a different database.
You also found a possible solution yourself already, for it seems to work on Oracle 12.2. This suggests some kind of Oracle DB bug which is even harder to work around.

My guess from the error message is that it's not really a "Stuck" problem as we have faced it in the past, bu

[2020-01-22 10:42] SteveOgh opened #172 "Hide password"
Looking for method(s) to hide the password portion of the <ConnectionURL> for demos and scripts.

[2020-01-22 13:05] pesse commented on #172
Hi @SteveOgh ,
thanks opening an issue.

What you can do is to write your password to an environment variable and use it in your call:

Linux/Unix:
[code]
Windows:
[code]

That way it is not shown and - as far as I know - not written to the command history.

It might still be useful to have another option. What comes to my mind:

1. Get user, password and connectstring from (predefined, fixed) env

[2020-02-03 12:46] pesse opened #173 "README: More practical usage examples"
While all necessary information is available, it might help folks new to cli to have a comprehensive list of usage examples
- Using suite-path instead of package
- call tests of different users
- call certain tags
- call specific contexts

@jgebal Do you think it might be valuable to add a notice that cli offers the *full* functionality of ut.run-API (besides `a_force_manual_rollback`)?

[2020-02-10 11:42] DrErique opened #174 "Code Coverage : Unit Test and Coverage Schema different"
Hello and greetings from Hannover, Germany.
I have a question that affects the circumstance that our unit tests exists in a different schema than the tested code. The utPLSQL Framework invented the "a_coverage_schemes" - Parameter for that case.
For example
exec ut.run('UNITTEST', ut_coverage_html_reporter(), a_coverage_schemes=>ut_varchar2_list('ISUSER'));
Is there a way to do the same call with

[2020-02-21 14:18] infyrana opened #175 "missing double quotes for variable JAVACMD in utplsql.bat"
In line 85 the double quotes are missing for the JAVACMD variable.

I need to use the client in a non accessible build agent server environment remotely where java home doesn't work and I needed to set JAVACMD (or JAVA_HOME) from outside the script. As the path contained a space this didn't work until I added the quotes to the utplsql.bat file.
Putting double quotes around the path from outside th

[2020-02-25 04:10] adiic opened #177 "Coverage is not generated for object which does not contains any tests"
I am not sure if it is by design, but let's say in our repository which contains 20 DB packages we ran the utplsql-cli pointing to the scripts for those 20 DB packages. However, there is only 10 test packages testing 10 of those DB packages.

The coverage reporter is only producing data for those which has data. Let's say the average of these coverage is 80%. However, it should have been 40% consi

[2020-02-25 23:00] jgebal commented on #177
I will transfer this issue to utPLSQL main project as it's more related to te code than to utPLSQL-cli

[2020-03-10 09:04] hkorsvoll opened #178 "Switch for forcing rebuild of annotation cache"
Hi

We are setting up utPLSQL as a test framework for our database. We are initiating tests from TeamCity using utplsql-cli.
We have installed utPLSQL using the global DDL trigger approach. There might be situations where the annotation cache is not up to date or otherwise broken. Ref [utPLSQL/utPLSQL/issues/1018].
It would be great to have a command-line switch for forcing a rebuild of the annota

[2020-03-10 09:24] jgebal commented on #178
You should not need this switch if you're using version 3.1.10 or above.
There are quite some improvements to how cache is handled in that version.
Can you try it out and report if you're really facing issues?

[2020-03-10 09:27] hkorsvoll commented on #178
Look at my detailed comment in 1018 :-)

I found that what is clearing the cache is that I used the UT3 user when initiating the tests. Hopefully, I will not see this issue again when using another user.

[2020-03-10 09:30] jgebal commented on #178
Yes. UT3 user is "special".
It is framework owner schema.
I'll see if there is any way not to rely on it being special.
I think i know what is causing the problem.

Running tests from a different account shoyld solve your issues.

[2020-03-10 09:31] hkorsvoll commented on #178
Great, if you add this information in the Readme, you can close this issue :)

[2020-03-10 20:52] jgebal commented on #178
I will move that issue to utPLSQL main project as it is a framework issue, not utPLSQL-cli only.

[2020-03-10 21:39] pesse commented on #174
Hey @DrErique ,
thanks for your patience and for pointing this out.
You are right - for some reason there is no cli parameter to pass `a_coverage_schemes` to the test-runner, although Java-API would allow it.
I'll add this, shouldn't be a big problem.

[2020-03-11 10:17] DrErique commented on #174
Hello Samuel,

This would be a real help for us, because otherwise there is no implementation in Bamboo possible and I have to create the reports per hand.
What shouldn't be the sense of it all.

Please let me know if you got a beta version for us to try this out.

Kind regards,
Derik Wehrmann

_________________________________________________________________

Tel: -551 | Testmanager | IT SCM

Von

[2020-03-13 15:07] #174 closed

[2020-03-13 15:31] pesse commented on #174
@DrErique can you try out this one?
https://bintray.com/utplsql/utPLSQL-cli/download_file?file_path=utPLSQL-cli-develop-202003131529.zip

Parameter is `--coverage-schemes`

[2020-03-16 15:45] DrErique commented on #174
Hello Samuel,

Seems to work pretty stable.
I saw even the documentation is already added.

So thanks for replying an keep healthy !

With kind regards
Derik Wehrmann

Von: Samuel Nitsche <notifications@github.com>
Gesendet: Freitag, 13. März 2020 16:32
An: utPLSQL/utPLSQL-cli <utPLSQL-cli@noreply.github.com>
Cc: Wehrmann, Derik <D.Wehrmann@wertgarantie.com>; Mention <mention@noreply.github.com>
B

[2020-03-31 17:25] ph88 opened #181 "Where can I find the report file generated in SQL Developer?"
When I generate coverage.html, I can see it in the Windows \temp directory, but when I try to use exec ut.run ('My object', ut_coverage_sonar_reporter ()); I can't find where the .xml file is generated, help?

Thank you!

[2020-03-31 20:34] pesse commented on #181
Hi @ph88 ,
running `exec ut.run()` from SQL Developer or SQL*Plus will not create a file for you. You can instead use utPLSQL-cli to create one:
`utplsql run user/pw@connectstring -p="my_package" -f=ut_coverage_sonar_reporter -o=sonar_coverage.xml`

Does that solve your problem?

[2020-03-31 21:39] jgebal commented on #181
@ph88
When you run utPSLQL from SQLDeveloper worksheet, the outputs will be printed to script console.
You need to have dbms_output enabled.

[code]
and press `F5` to run as script

What is the need for using `ut_coverage_sonar_reporter ()` from within SQLDeveloper?

[2020-04-01 00:16] ph88 commented on #181
Thanks for the feedback, in fact I was having trouble generating the ut_coverage_sonar_reporter (.xml) in utPLSQL-cli through Jenkins because afterwards I would need to use the report in the sonar-scannner.

I ended up getting it via utPLSQL-cli after some (several) attempts, it generated the file ut_coverage_sonar_reporter in the folder where utPLSQL-cli is.

Thank you very much.

[2020-04-01 00:16] #181 closed

[2020-04-07 14:03] DrErique opened #182 "No Code Coverage Report after Updating to utPLSQL 3.1.10"
Hello ! Greetings from Hannover, Germany

We recently updated our utPLSQL Framework to the latest 3.1.10 Version.
Unfortunately Code Coverage Reporting doesn't work anymore after this.

As you might remember we had the #174 Issue where you added the -include Parameter and gave me the https://bintray.com/utplsql/utPLSQL-cli/download_file?file_path=utPLSQL-cli-develop-202003131529.zip Version to try

[2020-06-06 19:27] lwasylow opened #183 "OpenJDK 14 Issue -"
When executing tests via CLI I receiving a following error:

[code]

$ java --version
openjdk 14.0.1 2020-04-14
OpenJDK Runtime Environment (build 14.0.1+7)
OpenJDK 64-Bit Server VM (build 14.0.1+7, mixed mode, sharing)

ojdbc8

[2020-06-24 05:17] rafael-trevisan opened #184 "Mapping Source and Test folders for SonarCloud"
Hi,

I've been struggling to properly map the `source` and `test` folders to avoid SonarCloud complaining:
[code]

This is what I am using:
[code]

The project folder looks like:
[code]

I think the problem is the "spec" and "body" that I have to append to the filenames due to Flyway, but I am don't know how to get the `-regex_expression` thing right.

Another strange thing is that the coverage re

[2020-06-24 15:09] jgebal commented on #184
Hi @rafael-trevisan
I assume you have a naming pattern for your packages/files
Can you:
- give the actual package names for the sample files you've listed
- give schema name where they get deployed
- give username that you connect as to run the tests

The key tjongs to know are:
- is test owner = src owner
- is test owner = test run(connect) user.
Woth that I should be able to give some hints to m

[2020-06-24 15:42] rafael-trevisan commented on #184
Hi @jgebal,

For a file like `r__package_a_spec.pks` the package name is `package_a`.
For a test file like `r__test_package_a_spec.pks` the package name is `test_package_a`.

The schema name where it's been deployed is a "run time" schema like BUILD_1, BUILD_2, BUILD_3 and etc. Each time a commit happens, the CI is creating a brand new schema, then Flyway re-creates the database including the UT a

[2020-06-24 20:21] rafael-trevisan commented on #184
If it helps, this is the `sonar-project.properties`:

[code]

[2020-06-25 00:15] jgebal commented on #184
So I took the default mapping regex parameters we have:
[code]
Modified it and tested on regex101 - you can see example here:
https://regex101.com/r/LoWaHo/2

Then I ran the below test-cases in SQL console to verify mappings:
[code]

Running with sonar coverage reporter - mapping source packages:
[code]

Outcomes:
[code]

Running with sonar test reporter - mapping test packages:
[code]

Outcomes:

[2020-06-25 00:21] rafael-trevisan commented on #184
That’s amazing! I’ll test it here in a hour or so and will share the results.

[2020-06-25 00:27] jgebal commented on #184
This is assuming that:
the filename prefix is static = `r__`
the filename suffix is static = `_spec` or `_body`

You can play around with the regex if needed.

One thing to note is that I've specified a non existing matching group value `9` for the `owner_subexpression`.
This is needed, so that it evaluates to NULL, as you don't have owner in filename or file patch.
When it is NULL, the owner is t

[2020-06-25 00:30] rafael-trevisan commented on #184
Makes total sense. Thanks for detailing.

Wondering here if I should use the -p parameter to indicate which schema to run the tests as I have multiple schemas with the same packages.

[2020-06-25 00:37] jgebal commented on #184
No need, as you connect as schema owner so this is default.

[2020-06-25 05:43] rafael-trevisan commented on #184
Worked like a charm. Great thanks.

[code]

However I don't see (or don't know yet where to see) this information on the SonarCloud as it still shows 0% of coverage and the line I am sure it's being tested shows in red "Not covered by tests".

I will reach out to SonarCloud folks to see what missing, anyways great thanks again.

[2020-06-25 05:43] #184 closed

[2020-06-25 18:38] rafael-trevisan commented on #145
Hi guys, I've started facing this issue too. I can say it's indeed intermittent and it's likely to happen more often (don't know why) when using the CLI in a pipeline. In my case here I am using GitHub Actions and there are times the test step fails because of this. If I simply hit "re-run jobs" I got cases that it worked on the first re-try and other it took more re-tries to work.

If any log is

[2020-06-25 20:01] pesse commented on #145
Which Oracle version are you on? Latest patchs applied?

Same is true for you as for Vasanthsumanath:

[2020-06-25 20:08] rafael-trevisan commented on #145
I am using Oracle SE2 on AWS RDS. I am not sure about where it's in patches but RDS's settings are to upgrade even minor patches.

I am not installing any custom version of OJDBC. I am getting the CLI from
[code]

and I assume it contains the latest OJDBC, am I right?

If I want to try different version of OJDBC is it just replacing the existing one shipped with the CLI with whatever version I wan

[2020-06-25 22:07] rafael-trevisan commented on #145
I am not sure if that helps, but when this issue happens I see a couple of session for my "testing" user waiting while trying to run:
`SELECT TEXT, ITEM_TYPE FROM TABLE((:B1 ).GET_LINES(:B2 , :B3 ))`

[2020-06-26 07:13] pesse commented on #145
Can you please issue the following code to give a complete picture what Oracle version you're using? From what I read there are different versions of Oracle DB available on AWS:

[code]

And yes, you can replace the default one by just replacing the JAR with any other OJDBC driver.

[2020-06-26 08:04] DrErique commented on #182
Hello Samuel !
Just received some comments from Issue #145 so I see you're still active :-)
Is there a chance we can face this issue here or do you see a chance in the near future ?

Kind regards, Derik Wehrmann

[2020-06-26 08:48] pesse commented on #182
I am as active as possible with a lot of other things on my plate and in the midst of a pandemic :)
So, the only change here was update of utPLSQL core to 3.1.10?
Does gathering coverage work when you're using `ut.run()`?

[2020-06-26 09:01] DrErique commented on #182
Hello Samuel,
Sorry I just wanted to ask.
I do it by hand now, so that is indeed not a big problem.
I can gather the code coverage information with

EXEC UT3PLSQL.UT.RUN( 'UNITTEST', ut_coverage_html_reporter(), a_coverage_schemes => ut_varchar2_list('ISUSER') );

That works.
If I want to do the same again with the utPLSQL-cli out of our Bamboo  CI-Pipeline with

"utplsql run UNITTEST/P6YkF-k4il83

[2020-06-26 10:02] pesse commented on #182
No need to apologize, I just wanted to explain why I'm rather quiet on the project.

I think you are missing the `--coverage-schemes` parameter in your cli call. Can you try this?

[code]

The `include`-parameter has a different meaning and its equivalent for ut.run is `a_include_objects`

[2020-06-26 14:46] DrErique commented on #182
Hello Samuel,

I knew the difference between the two parameters but unfortunately there has been a terrible mistake happened by copying or whatever.
So when you take

utplsql run UNITTEST/P6YkF-k4il83_0s@WGTEST2 \

  -p=UNITTEST \

  -f=ut_coverage_html_reporter -o=C:\Bamboo_Output\WERTGARANTIE\CODE_COVERAGE_2.html \

  --coverage-schemes=ISUSER

( without the -include) it works !

My fault, thank

[2020-06-26 14:48] pesse commented on #182
Happy to help - we've all been there 😉

[2020-06-26 14:48] #182 closed

[2020-06-29 11:37] hehawe opened #185 "ORA-00001 returned before ut_coverage_html_reporter finished"
Hi,
When I run something like
utPLSQL-cli/bin/utplsql run xxx/yyy@//zzz:1521/localpdb -c -f=ut_coverage_html_reporter -o=coverage.html
I get the following error

Successfully connected to database. UtPLSQL core: v3.1.10.3349
Oracle-Version: 18.0.0.0.0
Running tests now.
--------------------------------------
TestRunner initialized
Running on utPLSQL v3.1.10.3349
Initializing reporters
Running test

[2020-06-29 12:15] pesse commented on #185
Can you try to uninstall and reinstall utPLSQL on your database?
Looks similar to https://github.com/utPLSQL/utPLSQL/issues/568 though this is long ago solved 🤔
@jgebal any ideas?

[2020-06-29 14:00] jgebal commented on #185
The issue shoul be moved to utPLSQL main project

[2020-06-29 14:19] jgebal commented on #185
This is really odd.
It seems like you have duplicate:
Owner/name/line amongst:
package body
trigger
type body
procedure
function

I didn't realize it's possible

[2020-06-29 14:34] jgebal commented on #185
Just checked. Trigger name can overlap with package or procedure or function name.

Can you check if this is duplicated in your case?
We need a fix in utPLSQL core code to fix it.

[2020-06-29 14:56] hehawe commented on #185
Can be at least the duplicate name identified?

I can also see the following:
	at java.base/java.lang.Thread.run(Thread.java:834)
Caused by: Error : 1, Position : 0, Sql = BEGIN ut_runner.run(a_paths => :1 , a_reporters => :2 , a_color_console => (case :3  when 1 then true else false end), a_fail_on_errors => (case :4  when 1 then true else false end), a_client_character_set => :5 , a_random_test_

[2020-06-29 15:28] hehawe commented on #185
Even when I do just:

create or replace package testFunction_firstTest as
  --%suite(testSuite)

  --%test
  procedure firstTest;
end;
/
create or replace package body testFunction_firstTest as
    procedure firstTest
    is
    begin
        ut.expect( 1 ).to_equal( 1 );
    end;
end;
/

I got the same error

[2020-06-29 20:58] rafael-trevisan commented on #145
[code]

[2020-06-29 22:30] rafael-trevisan commented on #145
I did a test using the OJDBC8 from Oracle website and the message was a bit more verbose:

[code]

[2020-06-29 22:31] rafael-trevisan commented on #145
Again, the issue is intermittent. If I just re-run the job to re-execute the tests is may pass - or not.

[2020-06-30 05:46] pesse commented on #145
Hey @rafael-trevisan , could you attach the full logs of a failing run with `-d` (for extensive debug messages)?

This looks different to the original stuck statement error.

[2020-07-23 04:45] rafael-trevisan commented on #145
Here is it @pesse
[code]

[2020-07-23 04:57] rafael-trevisan commented on #145
I can see a strange pattern between these failures and around 4 sessions (all from `JDBC Thin Client`) getting stuck while running the following command:
[code]
Every time utPLSQL retries "Retrying (n)" I can see another 3 new sessions running the same funny `select`. The wait event for these sessions are `PL/SQL lock timer` 🤔

Once utPLSQL finally fails, the sessions will be still "Active" for ar

[2020-07-23 05:10] rafael-trevisan commented on #145
Ha! The number of hanging session is directly related to the number of reports I am generating in my tests!

In my case, I am using the following reports:
[code]

Another interesting finding is that I have only 1 report, I get the error once let's say every 10 times I run. With the 3 reports altogether I get the error every 2 or 3 times. Hope that makes sense and helps narrow down this nasty bug.

[2020-09-22 14:24] PriyankaKeer opened #186 "UTPLSQL-Cli Execution of Tests in Command Line Step by Step Procedure"
Hi Team,

We tried understanding the procedure of installing and executing utplsql tests in command line, but we are not much clear about it.
Please share a step by step guide for installing and using utplsql cli. It would be a great help if it is provided. We are in project critical activity and not able to get started with cli . Kindly help!

[2020-09-23 06:18] pesse commented on #186
Hi @PriyankaKeer
to install utPLSQL-cli

- Make sure you have at least Java 8 installed
- Download "utPLSQL-cli.zip" from the latest [release page](https://github.com/utPLSQL/utPLSQL-cli/releases/tag/v3.1.8)
- Extract the contents to a folder on your machine
- run `./bin/utplsql run user/password@dbConnectString`

Please note that the cli can not be used to install tests into the database, but jus

[2020-09-28 08:52] PriyankaKeer commented on #186
Hi @pesse
Thanks..
Able to execute the Tests now

Regards
Priyanka

[2020-10-04 17:43] PriyankaKeer opened #187 "Need help in command for generating the coverage report in UTPLSQL"
Hi,

Need help in generating coverage report in UTPLSQL CLI and SQL Developer
Tests cases are written in a UnitTest schema and the "Procedures under Test" are residing in a user schema.
**1. In UTPLSQL CLI, Tried the below command, but it was generating empty report:**

utplsql run "connection string" -p=UT_SCHEMA -o=run.log -s -f=ut_coverage_html_reporter -o=coverage.html -include=USER_SCHEMA

**

[2020-10-12 19:15] #186 closed

[2020-10-24 10:20] tlazaro-lululemon commented on #187
Same issue here :(

[2020-10-25 17:01] tlazaro-lululemon commented on #187
@PriyankaKeer I tried mirroring exact structure in https://github.com/utPLSQL/utPLSQL-demo-project it looks like it needs to have the same extensions and folder structure. It worked now for me.

[2020-10-25 17:27] tlazaro-lululemon commented on #152
@felipebz zpa plugin doesn't work with *.prc, here's the result when I tried to publish coverage report in sonarqube:
ERROR: Caused by: Line 3 of report refers to a file with an unknown language: source/test_proc/test_proc.prc

[2020-10-25 18:07] jgebal commented on #187
Hi @PriyankaKeer @tlazaro-lululemon

Did you read through the [code coverage documentation](http://utplsql.org/utPLSQL/latest/userguide/coverage.html)?
It outlines multiple variations of configuration for running utPLSQL with code coverage.

[2020-10-25 18:12] jgebal commented on #187
@PriyankaKeer
Also, the [readme](https://github.com/utPLSQL/utPLSQL-cli/blob/develop/README.md) for utPLSQL-cli mentions parameter:
[code]

So I assume your command line should look like this:
[code]
Also make sure that the user that is connecting to the database has correct privileges as mentioned in [coverage documentation](http://utplsql.org/utPLSQL/latest/userguide/coverage.html):
------------

[2020-10-25 18:25] jgebal commented on #187
@PriyankaKeer
In SQLDeveloper you can use command:
[code]

Also I recommend using SQL-Developer extension by Philip Salvisberg - it's briliant.
See those blog posts:
https://www.salvis.com/blog/2019/07/06/running-utplsql-tests-in-sql-developer/
https://www.salvis.com/blog/2020/06/07/utplsql-for-sql-developer-1-2-whats-new/

[2020-10-25 18:25] #187 closed

[2020-10-25 21:54] felipebz commented on #152
@tlazaro-lululemon actually, you need to set the `sonar.zpa.file.suffixes` property to tell Sonarqube which extensions you're using for PL/SQL files. Adding the value `prc` to it will fix this error. Please see [Supported configuration properties](https://github.com/felipebz/zpa/wiki/Supported-configuration-properties). In case of any question feel free to [open an issue here](https://github.com/f

[2020-10-28 06:31] tplazaro commented on #152
Thank you @felipebz !

[2020-11-11 10:56] TobiasDo1 opened #188 "Executing utplsql cli from Azure results in exit code 1"
Is there any way to figure out, why this run failed?

![image](https://user-images.githubusercontent.com/73824078/98802617-d87d4900-2413-11eb-9c7c-6852e3442a9a.png)

It is being executed on Azure server via pipeline.

The command is:
utplsql run <connection_detials> --tags=portal -d=true -f=ut_tfs_junit_reporter -o=ut_tests.xml -f=ut_coverage_cobertura_reporter -o=x_cobertura.xml

Observations I m

[2020-11-11 20:18] pesse commented on #188
I have an idea that your Azure pipeline will fail if you have failing tests. By default, cli will exit with code 1 in that case.
You can change that behavior by adding `-fcode=0` so it will only exit with 1 if a real error (of the client software itself) occurs.

If that's not the problem, the following things would be interesting:

The content of ut_tests.xml and x_covertura.xml.
Also, please try

[2020-11-11 23:19] jgebal commented on #188
@TobiasDo1
It looks like the tests completed but some tests are failng.

What we tend to do in our own utPLSQL self-testing on Travis is run utplsql-cli with several reporters and output the `ut_documentation_reporter` to the screen.
https://travis-ci.org/github/utPLSQL/utPLSQL/jobs/716290552#L5814-L5825
![image](https://user-images.githubusercontent.com/1398171/98875421-1ca03600-2474-11eb-89fe-87

[2020-11-12 06:27] TobiasDo1 commented on #188
Thanks @pesse and @jgebal for your suggestions.

If I run
`utplsql run <connection_detials> --tags=portal -d -f=ut_documentation_reporter -f=ut_tfs_junit_reporter -o=ut_tests.xml -f=ut_coverage_cobertura_reporter -o=x_cobertura.xml -fcode=2`
it ends up in some ORA exception. Not sure, if I am missing anything from my end.

![image](https://user-images.githubusercontent.com/73824078/98903373-bfc66f

[2020-11-12 06:44] TobiasDo1 commented on #188
I have replaced -fcode=2 parameter with --failure-exit-code=2 and this works.

@pesse, you were rigth with your idea that azure task breaks because of failed unit test.

Thanks so much for your support.

[2020-11-12 08:36] pesse commented on #188
Thanks for the catch - seems we have a regression here and I should change `-fcode` to `-E` for example (new command-line library only allows a single letter after a single `-` - double-dash notation works, though)

[2020-11-12 08:37] pesse opened #189 "Remove all multi-char, single-dash options"
As mentioned in https://github.com/utPLSQL/utPLSQL-cli/issues/188 the new command-line library doesn't support single-dash, multi-char arguments.
Multi-Char args need to be prefixed with double-dash `--`

So we should remove all multi-char, single-dash options and replace them with a single char.

[2020-11-12 08:38] #188 closed

[2020-12-14 02:08] tplazaro commented on #145
Is there any update on this one, any workaround? I'm having the same issue :(

[2020-12-14 07:45] pesse commented on #145
This issue is very likely an Oracle bug and highly related to your used Oracle database, used driver etc.
Please provide
- your database version/platform
- your jdbc driver version
- whether the problem occurs reproducably

[2021-01-08 17:20] TobiasDo1 opened #190 "Error message when running ut_coverage_cobertura_reporter"
Hi all,

I do have a problem, when executing utplsql based on a tag.

This is what I am executing:
`utplsql run <schema>/<pw>@<host>:<port>/<service> --tags=erudities --debug -f=ut_coverage_cobertura_reporter -o=hex_cc_erudities.xml -s --failure-exit-code=0`

And this is the output the cmd is spooling:
[code]

Other reporters are working and issue is also not coming, if I select another tag. So ob

[2021-01-08 19:52] jgebal commented on #190
The issue is with oracle internal packages.
For some reason, DBMS_PLSQL_CODE_COVERAGE fails when code has calls to some of SYS packages.
I saw this issue myself when code was calling DBMS_STATS package.

There is no solution for this from our side, only workaround.
I was wondering if we should implement it at all, but is seems to be quite common issue so maybe workaround is needed.

[2021-01-09 07:16] TobiasDo1 commented on #190
Hi Jacek,
thanks for your reply.
So does it mean that you are already aware of a workaround to overcome this?
Best regards
Tobias

[2021-01-09 10:43] jgebal commented on #190
Yes. It requires a change to utPLSQL code.

[2021-01-09 10:53] TobiasDo1 commented on #190
Great.
Then I will wait for your changes to come.
Thanks a lot, Jacek

[2021-01-27 07:20] venkat-kasula opened #191 "UTPLSQL CLI Error: Detected Oracle driver stuck during Statement initialization after 4 retries and Erro"
**Describe the bug**
Hi All,
I m using the AWS RDS oracle instance currently for trying out the UTPLSQL POC demo.
When i m trying out in the UTPLSQL CLI, using command "utplsql run <user>/<password>@host:1521/ORCL -p=venkat.ut_add_contestant -f=ut_coverage_html_reporter -o=run.log -s -f=ut_coverage_html_reporter -o=coverage1.html"
while generating report, my execution is terminated after 4 retries

[2021-01-27 19:17] pesse commented on #145
@rafael-trevisan @tplazaro can you try the steps mentioned in https://github.com/utPLSQL/utPLSQL/issues/1121?

**Either** access the file `$JAVA_HOME/jre/lib/security/java.security` and change `securerandom.source=file:/dev/random` to `securerandom.source=file:/dev/urandom`

**Or** set up JAVA_TOOL_OPTIONS:

`export JAVA_TOOL_OPTIONS='-Djava.security.egd=file:/dev/./urandom -Dsecurerandom.source=f

[2021-01-28 14:12] pesse commented on #145
After sleeping over it I have little hopes this is the problem source.
I would still love to get some feedback from you folks, since this is something I cannot test/reproduce myself.

[2021-01-28 17:34] dmpe commented on #145
Hi, I am sorry but cannot test it anymore :(

[2021-02-04 18:42] venkat-kasula commented on #191
@pesse Sure, once done committing, please do  let me know, so that i can try again and share the result

[2021-02-08 08:15] venkat-kasula opened #192 "Is they any way we can get the UTPLSQL historical runs by using RUN ID and their coverage"
Is they any way we can get the UTPLSQL historical runs by using RUN ID which gets generated automatically and their coverage using the inbuilt tables of UTPLSQL.

used the below query but could not find any data in the result of below query

select owner, name, type
from   dbmspcc_runs r
join   dbmspcc_units u
on     r.run_id = u.run_id

[2021-02-11 09:28] Alesator opened #193 "Sonar coverage report fails with Detected Oracle driver stuck during Statement initialization"
Hi,
when I try to run Sonar Coverage Report on cca 5k objects, utplsgl-cli fails with ERROR org.utplsql.api.TestRunner - Detected Oracle driver stuck during Statement initialization.

When I set source_path with limited number of objects it is OK.

In cmd I run >utplsql run -d tia/***@suntest07.cpoj.cz:1530/tsdv3 -test_path=PLSQL/PKG/UT -source_path=PLSQL/PKG  -f=UT_COVERAGE_SONAR_REPORTER  -o=son

[2021-02-17 07:10] venkat-kasula opened #194 "Getting Error "ORA-04042: procedure, function, package, or package body does not exist" while grnats access to Other Users"
HI All,

we have the installed the UTPLSQL on the Oracle Instance with the help of DBA team , while providing grant access to other users we are getting below error

ERROR at line 1:
ORA-04042: procedure, function, package, or package body does not exist

Command Used: sqlplus <Connection params> @create_synonyms_and_grants_for_public.sql UTPLSQL

Kindly let us know where we did wrong & what is th

[2021-02-18 20:26] pesse commented on #194
In order for us to be able to help you, please provide an example of the test-package, the package/function to be tested and your exact call to utPLSQL.

[2021-02-23 06:26] venkat-kasula commented on #194
@pesse  sorry for the delay in replying.

We are not trying to execute the packages. But instead we got this error post installing & granting access to the Other Users

Error occurred while executing the below command :

 sqlplus @create_synonyms_and_grants_for_public.sql UTPLSQL

[2021-02-23 06:28] venkat-kasula commented on #192
@pesse  can you please help me here

[2021-03-15 09:32] venkat-kasula commented on #194
Installation was unsuccessful due to the User Table doesnt exist. Issue was no properly displayed until we went into install.logs. Hence corrected the isue.

[2021-03-26 09:28] alesana-san opened #195 "utplsql-cli isn't aware of --coverage-schemes parameter"
Hi!

Looks like utplsql-cli doesn't pick up `--coverage-schemes` parameters described on README.md page of project:
[code]
My version is:
[code]

[2021-03-30 09:29] alesana-san opened #196 "And again Detected Oracle driver stuck during Statement initialization"
Hi!

I will put my outcomes about `Detected Oracle driver stuck during Statement initialization` error.
When running tests without file mapping it runs ok. See:
[code]
And when it comes to mapping to source files occasionally it fails after 4 unsuccessfull tries:
[code]
When I catch `Detected Oracle driver stuck during Statement initialization` error I don't see in `v$sql` any test related stuff (

[2021-04-29 09:18] PriyankaKeer opened #197 "Caught Oracle stuck during creation of Runner-Statement"
Hi Team,

**Getting below error while executing utPLSQL jenkins job**

Running as SYSTEM
[EnvInject] - Loading node environment variables.
Building on master in workspace /var/lib/jenkins/workspace/UTPLSQL_UNITTEST_JOB
[WS-CLEANUP] Deleting project workspace...
[WS-CLEANUP] Deferred wipeout is used...
[WS-CLEANUP] Done
[UTPLSQL_UNITTEST_JOB] $ /bin/sh -xe /var/lib/jenkins/tmp/jenkins51846827291310

[2021-06-10 19:52] pesse commented on #192
Hey @venkat-kasula - thanks for your patience. The last months have been a bit rough.

There is no way to get data about historical runs in utPLSQL or the cli. This is a design decision, because storing the outcomes of a run is the task of the surrounding CI environment (e.g. Jenkins).
There is a lightweight Apex solution you might be interested in: https://github.com/triologygmbh/utPLSQL-APEX

Th

[2021-06-18 10:29] PriyankaKeer commented on #197
Hi @PhilippSalvisberg

Can you please look into this issue.
We need to integrate the tests in CICD and facing this issue

Any help would be appreciated!
Thanks in Advance!

[2021-06-18 10:50] PhilippSalvisberg commented on #197
Hi @PriyankaKeer,

Unfortunately I can't. First, I didn't contribute a single line to the CLI and second, even if I did, I have no idea how to reproduce the faulty behavior that you describe. The chances of getting help without a reproducible test case are slim.

Since this is a high priority for you, I suggest debugging the CLI yourself. A PR that fixes this issue is greatly appreciated.

Please

[2021-06-18 11:21] PriyankaKeer commented on #197
Hi @PhilippSalvisberg

Thanks for the response!
Found your replies to a similar issue and thought that you are one of the contributor to utPLSQL- cli.

Thanks.

[2021-07-15 20:34] OsBlaineOra commented on #145
I am unable to run any code coverage reporter from the cli 9/10 times.

Switching back to running project based coverage through a .sql script requires that I list out every file to be checked.  (Unless I'm wrong about that).

Here's how I'm running it from .sql

Create a .sql script to run coverage for corbertura and sonar.  (If you're not using sqlcl, remove the !rm... lines)

utplsql_coverage.s

[2021-07-22 10:29] SSDivya opened #199 "Caught Oracle stuck during creation of Runner-Statement"
Hi,

Getting the below issue frequently while executing tests in CLI:
WARNING: Caught Oracle stuck during creation of Runner-Statement. Retrying (1)

utPLSQL-cli 3.1.8-SNAPSHOT.local
utPLSQL-java-api 3.1.8.546
Java-Version: 1.8.0_262
Oracle-Version: 12.1.0.2.0

For other application which uses Oracle version 18, it is working fine.

Is there any compaitiblity issue with utplsql-CLI and Oracle 12 v

[2021-10-05 13:08] Aish-005 opened #200 "How to import utplsql code coverage report into sonarqube using Gitlab?"

[2021-10-05 13:14] Aish-005 commented on #200
Generating code coverage report using UTPLSQL, but the question is how to import this coverage report to sonarQube using GitLab CI/CD. SonarQube is already used using GitLab in our project.. Please Help

[2021-11-26 08:30] pesse opened #201 "Cannot run `--tags` starting with a negated tag"
The following call leads to CLI not recognizing the parameters:

[code]

leads to

[code]

[2022-01-05 10:11] simonuwe commented on #172
In linux using an environment-variable in/as a commandline parameter does not really hide the value (only in shell history).
It is possible for **every user** on the system to **see the password** while the utplsql is running with
`ps -ef `

Example
`
export PW=xx; sh -c "sleep 1; echo $PW"& ps -ef | grep echo
[2] 1881476
uwe      1881476 1312384  0 11:07 pts/2    00:00:00 sh -c sleep 1; echo xx
u

[2022-02-04 11:12] drumbeg opened #203 "Is there a log4j vulnerability in utPLSQL-cli?"
The lib supplied with the latest release slf4j-api 1.7.26.jar allows a possibility of a log4j attack.

https://www.slf4j.org/log4shell.html

How is this being addressed?

[2022-02-04 11:35] pesse commented on #203
Thanks for bringing this up.
Will provide an update as soon as possible.
However, in order to exploit Log4shell here, you'd need access to the database the cli is run against and create a test with a malicious name.
Possible, but very unlikely.

[2022-03-13 23:35] jgebal commented on #203
How would you see the log4j issue to be exploited in this software?
We will definitely update the log4j library or remove it at some point when working on new features/bugfixes for cli.
I'm not sure however if there is real value in fixing it by itself.

Does it block you in any way at the moment?

[2022-05-19 13:01] francisco-palma-m commented on #191
Hi.
I reproduce randomly this problem against AWS server. I reproduce this using both utPLSQL-cli and utplsql-maven-plugin.

I have found that TestRunner.initStatementWithTimeout method in utPLSQL-java-api has a hardcoded timeout of 2 seconds.

If I increase the timeout, the problem dissapears and all works right.

Could I parameterize that timeout and open a pull-request?

[2022-05-19 13:16] jgebal commented on #191
Absolutely!

[2022-05-24 14:08] walker99 commented on #191
Works fine for me too!  :-)
Thank you.

[2022-05-31 14:16] pesse commented on #114
Hey @oballi
I'm not sure what exactly you are trying to do and how this is related to utPLSQL-cli
Sam

[2022-06-08 10:20] srinivasaprabhu-java commented on #191
Is there any update on this issue . We are also facing the same issue of time out. The solution what ever is given of changing the parameter  TestRunner.initStatementWithTimeout   to more than 2 , we could not do as it is a jar file java-api. Where do we give this value ?

[2022-06-08 11:10] francisco-palma-m commented on #191
I'm on it

[2022-06-08 12:00] pesse commented on #191
I will work on java-api and cli tonight, trying to create a new Release.

The timeout was originally introduced to work around a problem with Oracle 11g. I will leave it in, but as an opt-in option via parameter (where you can also set the time).
New Default-behaviour will be without that timeout.

@francisco-palma-m sorry if that interrupts your efforts. If you'd like to, it would be awesome if y

[2022-06-08 12:26] francisco-palma-m commented on #191
Ok. No problem, but it's necessary create a new release on utplsql-maven-plugin that use the new timeout parameter.

[2022-06-08 12:52] pesse commented on #191
@francisco-palma-m can you take care of the maven-plugin after I change java-api?

[2022-06-08 12:55] francisco-palma-m commented on #191
@pesse Of course

[2022-06-09 05:00] #199 closed

[2022-06-09 05:00] #191 closed

[2022-06-09 05:00] #193 closed

[2022-06-09 05:00] #196 closed

[2022-06-09 05:00] #197 closed

[2022-06-09 07:04] #201 closed

[2022-06-09 07:10] #203 closed

[2022-06-09 07:37] pesse opened #205 "Github Actions to create release artifacts"
At the moment, there is no Github Actions workflow to create release artifacts.

What it should include:
- update utplsql-cli.version
- mvn package verify jar:jar appassembler:assemble
- make sure jar is copied to assembly/lib
- Creating .zip and .zip.md5 files of assembly

Any help really appreciated.

[2022-06-09 07:39] simasch commented on #205
@pesse and @jgebal
Have you had a look at how I do that in https://github.com/utPLSQL/utPLSQL-maven-plugin

I even deploy to Maven Central.

[2022-06-09 07:57] simasch commented on #205
1. Step: use GitHub Packages
2. Step: use JReleaser to deploy to various platforms (GitHub Packages, sdkman etc)

[2022-06-11 14:09] srinivasaprabhu-java commented on #191
Thanks for the release . the timeout issue is gone now .

[2022-06-17 08:26] aalmiray commented on #205
Hello! FWIW you can use Maven's `appassembler` and `assembly` plugins to create binary distributions. The 1st plugin creates the layout with a launchable script plus all dependencies while the second creates a zip file. Once you have a binary distribution releasing with JReleaser is pretty much straight forward, as shown at

https://jreleaser.org/guide/latest/quick-start/maven.html
https://github.

[2022-06-17 09:31] simasch commented on #205
Thanks @aalmiray
We already use these two plugins plus a checksum plugin to add the files to the release in Github.
 We will not use Github Packages.

[2022-06-23 15:43] srinivasaprabhu-java opened #206 "unable to generate the coverage and corbertura xml report"
Hi team ,  The coverage report generation is taking too long , nit sure why this is happened .
All the test cases are completed , ut packages execution is completed .
But the build gets time out at the steps when it generate the coverage xml and corbertura xml .
I ma using below command .

chmod +x ./LIB/utPLSQL-cli/bin/utplsql
echo "Reached here"
./LIB/utPLSQL-cli/bin/utplsql run "${db_user}/"${d

[2022-08-10 06:40] andriusjediksapiens opened #207 "The order of unit testing"
Hello, in the moment I am upgrading utplsql unit tests from version 2 to version 3. Sadly, but my tests are dependent on each other and the order of testing is really important. Before I used maven plugin on jenkins to run them (maven could execute them in right order), but for v3 I am using utPLSQL-cli. The problem, that I cannot find the logic behind unit test execution as I've tried to use diff

[2022-08-10 06:45] simasch commented on #207
Based on the documentation it is:

1. schema name
2. suite path or test package name if --%suitepath was not specified for that package
3. --%test line number in package

How do you start te tests?

[2022-08-26 19:16] varianjv opened #208 "java.sql.SQLRecoverableException: Closed Connection"
**Describe the bug**
java.sql.SQLRecoverableException: Closed Connection
This seems to happen after 4 hours.

**Provide version info**
Database version 12.2.0.1.0
UT Version v3.1.10.3349

Oracle Database 12c Enterprise Edition Release 12.2.0.1.0 - 64bit Production
PL/SQL Release 12.2.0.1.0 - Production
"CORE	12.2.0.1.0	Production"
TNS for Linux: Version 12.2.0.1.0 - Production
NLSRTL Version 12.2.

[2022-08-26 19:55] jgebal commented on #208
Let me see if there is sone timeout setting that could cause this behavior.

Few questions that coukd help give answer.
If you run the same command but with ut_documentation_reporter, how long does it take to complete?
When running with -p commznd, what do you provide as an argument?

[2022-08-26 21:35] varianjv commented on #208
-p=schemaname.PACKAGENAME
Works ok as I said, runs in 3 hrs and generates a 770Mb output file.

I will run your suggested command there now and report back ut_documentation_reporter

[2022-08-27 12:37] varianjv commented on #208
ut_documentation_reporter runs in about 30 minutes (I should have known this as we use this in a jenkins pipeline)

[2022-08-30 08:18] varianjv commented on #208
@jgebal Any ideas?

[2022-09-28 12:47] SElfimov opened #209 "Exception when comparing collections with utp.ut.expect"
**Describe the bug**
When comparing collections converted to anydata with utp.ut.expect sometimes  we get this error, usually it works correctly.

**Provide version info**
utPLSQL 3.1.12

**Information about client software**
not applicable

**To Reproduce**

Run the below script
[code]

**See the exception:**

ORA-06502: PL/SQL: : numeric or value error: character string buffer too small
ORA-0651

[2022-10-17 13:44] jgebal opened #210 "Support for execution of utplsql-cli from GitBash"
At the moment it is not possible to execute utplsql-cli from git bash.
The shell script that invokes utPLSQL-cli fails to recognize gitBash.
So in the `utplsql` script there are lines:
[code]
What is actually needied is to add one line:
`  MINGW64*) cygwin=true ;;` into the case statement

[code]

Without adding that line I see following errors when calling `utplsql info`
[code]
With that line add

[2022-11-10 15:15] sau2382 opened #211 "ORA-01017: invalid username/password; logon denied when password contains "$6""
I am seeing ORA-01017: invalid username/password; logon denied when invoking UTPSQL via CLI.
The DB password contains "$6" which is skipped when parsing the command line arguments. The parsed connection string shows password with "$6" missing.

Example password - Abcd$6789
cli command -
`utplsql  run -d "username"/"Abcd$6789"@dbhost:port/service_any `

Following logs while running CLI -

[code]

[2022-11-10 19:49] jgebal commented on #211
As a workaround, can you try to escape the $ in password with a backslash `\` symbol?
`Abcd\$6789`

[2022-11-11 09:59] sau2382 commented on #211
Thanks @jgebal for the prompt response.
Adding escape character as a workaround is working and I can see test result and coverage.
Not really sure but I believe if a provision can be given to pass user/password as a separate switch parameter this issue will be avoided.
Anyways thanks for the quick support.